<p class="nbCorrect">{{selectHeader}}</p>
<div class="propositions" *ngFor="let rep of question.responses">
  <p [ngClass]="{'italic': correctionState}">{{rep.label}}</p>
  <div class="correction" (click)="!correctionState?openActionSheet($event):null">
    <div class="select"
         [ngClass]="
         {'disabled': correctionState,
         'correct': correctionState && selectClass[question.responses.indexOf(rep)] === 'correct',
         'incorrect': correctionState && selectClass[question.responses.indexOf(rep)] === 'incorrect'}">
      <p>
        {{selectValue[question.responses.indexOf(rep)]}}
      </p>
      <ion-icon *ngIf="!this.correctionState" color="inria-spe" mode="ios"  name="chevron-down-outline"></ion-icon>
    </div>
  </div>
  <hr *ngIf="this.correctionState">
</div>
