<ion-content scroll-y="false">
  <div class="reader" (window:resize)="onResize($event)">
    <div class="pages-container" [ngStyle]="contentStyles" (touchstart)="onMouseDown($event)" (touchend)="onMouseUp($event)" (touchmove)="onMouseMove($event)" (click)="displayMenu()">
      <div class="pages-wrapper" [ngClass]="{'scrolling': isScrolling}" [style.columnWidth]="columnWidth" [style.transform]="pageWrapperTransform">
        <ng-container *ngIf="epoc$ | async as epoc">
          <ng-container *ngFor="let content of epoc.content">

            <div class="page-content page-content-cover" *ngIf="content.type === 'cover'">
              <ion-img [src]="epoc.image"></ion-img>
              <h2>{{epoc.title}}</h2>
              <div *ngFor="let author of epoc.authors">
                <ion-text>{{author.name}}</ion-text>
              </div>
              <div class="edition">2020 edition<br/>Inria Learning Lab</div>
            </div>

            <ng-container *ngIf="content.type === 'html'">
              <div class="page-content page-content-html" [innerHTML]="content.value"></div>
            </ng-container>

            <ng-container *ngIf="content.type === 'video'">
              <div class="page-content page-content-video">
                <h2>{{content.name}}</h2><video [src]="content.source" controls="true"></video>
              </div>
            </ng-container>

          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="reader-action">
      <div class="page-prev" (click)="prevPage()"></div>
      <div class="page-next" (click)="nextPage()"></div>
      <div class="reader-progress">
        <ion-progress-bar [value]="getProgress()"></ion-progress-bar>
      </div>
    </div>
  </div>
</ion-content>
