<ion-content scroll-y="false">
  <div class="loader" *ngIf="loading">
    <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#364357">
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
          <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
          <path d="M36 18c0-9.94-8.06-18-18-18">
            <animateTransform
              attributeName="transform"
              type="rotate"
              from="0 18 18"
              to="360 18 18"
              dur="1s"
              repeatCount="indefinite"/>
          </path>
        </g>
      </g>
    </svg>
  </div>

  <div class="reader" [ngClass]="loading ? 'loading':''" [ngStyle]="readerStyles">
    <div class="pages-container" #pageContainer>
      <div class="pages-wrapper" [style.columnWidth]="columnWidth" #pageWrapper>
        <ng-container *ngIf="epoc$ | async as epoc">
          <ng-container *ngFor="let content of contents; let index = index">

            <ng-container *ngIf="content.type === 'cover'">
              <div #node [id]="'content-'+content.id" class="page-content page-content-cover">
                <ion-img [src]="epoc.image"></ion-img>
                <h2>{{epoc.title}}</h2>
                <div *ngFor="let author of epoc.authors">
                  <ion-text>{{author.name}}</ion-text>
                </div>
                <div class="edition">2020 edition<br/>Inria Learning Lab</div>
              </div>
            </ng-container>

            <ng-container *ngIf="content.type === 'chapter'">
              <div #node [id]="'content-'+content.id" class="page-content page-content-fs page-content-chapter">
                <div class="page-content-fs-inner">
                  <ion-card class="chapter-container">
                    <ion-card-content>
                        <div class="title-wrapper">
                          <div class="title-container">
                            <h3 class="number">Chapitre {{content.number}} :</h3>
                            <h5 class="title">
                              {{content.name}}
                            </h5>
                          </div>
                        </div>

                        <ion-grid>
                          <ion-row class="chapter-specs ion-text-center">
                            <ion-col size="4">
                              <div class="chapter-spec-icon"><ion-icon name="stopwatch" mode="md" color="inria-blue"></ion-icon></div>
                              <div class="chapter-spec-value">{{content.time}} min</div>
                            </ion-col>
                            <ion-col size="4">
                              <div class="chapter-spec-icon"><ion-icon name="videocam" mode="md" color="inria-blue"></ion-icon></div>
                              <div class="chapter-spec-value">{{content.videoCount}} {{content.videoCount > 1 ? 'videos':'video'}}</div>
                            </ion-col>
                            <ion-col size="4">
                              <div class="chapter-spec-icon"><ion-icon name="checkbox-outline" mode="md" color="inria-blue"></ion-icon></div>
                              <div class="chapter-spec-value">{{content.assessmentCount}} {{content.assessmentCount > 1 ? 'activités':'activité'}}</div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                        <div class="chapter-objectives" *ngIf="content.objectives">
                          <h4>{{content.objectives.length > 1 ? 'Objectifs' : 'Objectif'}}</h4>
                          <div class="chapter-objective" *ngFor="let objective of content.objectives">
                            <ion-icon name="locate" mode="md"></ion-icon>
                            <ion-text>{{objective}}</ion-text>
                          </div>
                        </div>
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="content.type === 'html'">
              <div #node [id]="'content-'+content.id" class="page-content page-content-html">
                <div class="page-header">
                  <ion-icon name="paper" size="large"></ion-icon>
                  <h4>{{content.name}}</h4>
                </div>
                <div [innerHTML]="content.value"></div>
              </div>
            </ng-container>

            <ng-container *ngIf="content.type === 'video'">
              <div #node [id]="'content-'+content.id" class="page-content page-content-fs page-content-video">
                <div class="page-content-fs-inner">
                  <div class="page-header">
                    <ion-icon name="videocam" size="large"></ion-icon>
                    <h4>{{content.name}}</h4>
                  </div>
                  <video-player [content]="content"></video-player>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="content.type === 'assessment'">
              <div #node [id]="'content-'+content.id" class="page-content page-content-fs page-content-assessment">
                <div class="page-content-fs-inner">
                  <div class="page-header">
                    <ion-icon name="checkbox-outline" size="large"></ion-icon>
                    <h4>Activité</h4>
                  </div>
                  <ion-card>
                    <img src="assets/img/activity.jpg" />
                    <ion-card-content>
                      <ion-row class="activity-specs ion-text-center">
                        <ion-col size="6">
                          <div class="activity-spec-icon"><ion-icon name="school" mode="md" color="inria-blue"></ion-icon></div>
                          <div class="activity-spec-value" *ngIf="content.scoreTotal > 0">Noté</div>
                          <div class="activity-spec-value" *ngIf="content.scoreTotal <= 0">Non Noté</div>
                        </ion-col>
                        <ion-col size="6">
                          <div class="activity-spec-icon"><ion-icon name="help" mode="md" color="inria-blue"></ion-icon></div>
                          <div class="activity-spec-value">{{content.items.length}} question<ng-container *ngIf="content.items.length > 1">s</ng-container></div>
                        </ion-col>
                      </ion-row>
                      <p>{{content.summary}}</p>
                      <assessment-button [content]="content" [epoc]="epoc"></assessment-button>
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ng-container>

          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="reader-progress">
    <ion-progress-bar color="inria" [value]="progress"></ion-progress-bar>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="reader-action">
      <div class="page-action page-prev" [ngClass]="currentPage === 0 ? 'disable':''" (click)="prevPage()">
        <ion-icon name="arrow-dropleft" mode="md"></ion-icon>
      </div>
      <div class="page-action menu" (click)="displayMenu()">
        <ion-icon name="menu" mode="ios"></ion-icon>
      </div>
      <div class="page-action page-next" [ngClass]="currentPage === pageCount ? 'disable':''" (click)="nextPage()">
        <ion-icon name="arrow-dropright" mode="md"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
