<ion-content>
  <div class="loader" slot="fixed" *ngIf="loading">
    <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#364357">
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
          <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
          <path d="M36 18c0-9.94-8.06-18-18-18">
            <animateTransform
              attributeName="transform"
              type="rotate"
              from="0 18 18"
              to="360 18 18"
              dur="1s"
              repeatCount="indefinite"/>
          </path>
        </g>
      </g>
    </svg>
  </div>

  <div class="reader" slot="fixed" [ngClass]="loading ? 'loading':''" [ngStyle]="readerStyles">

    <ng-container *ngIf="dataInitialized">
      <ion-slides #readerSlides [options]="slidesOptions" (ionSlideWillChange)="onSlideChange()" class="reader-slider">
        <ion-slide>
          <div class="page-wrapper">
            <div class="page-content page-content-chapter">
              <ion-card class="chapter-container">
                <ion-card-content>
                  <div class="title-wrapper">
                    <div class="title-container">
                      <h3 class="number">Chapitre {{chapterIndex + 1}} :</h3>
                      <h5 class="title">
                        {{chapter.title}}
                      </h5>
                    </div>
                  </div>

                  <ion-grid>
                    <ion-row class="chapter-specs ion-text-center">
                      <ion-col size="4">
                        <div class="chapter-spec-icon"><ion-icon name="time" color="inria-blue"></ion-icon></div>
                        <div class="chapter-spec-value">{{chapter.time}} min</div>
                      </ion-col>
                      <ion-col size="4">
                        <div class="chapter-spec-icon"><ion-icon name="videocam" color="inria-blue"></ion-icon></div>
                        <div class="chapter-spec-value">{{chapter.videoCount}} {{chapter.videoCount > 1 ? 'videos':'video'}}</div>
                      </ion-col>
                      <ion-col size="4">
                        <div class="chapter-spec-icon"><ion-icon name="checkbox" color="inria-blue"></ion-icon></div>
                        <div class="chapter-spec-value">{{chapter.assessmentCount}} {{chapter.assessmentCount > 1 ? 'activités':'activité'}}</div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ng-container *ngIf="chapter.objectives">
                    <h4 class="chapter-objectives-label">{{chapter.objectives.length > 1 ? 'Objectifs' : 'Objectif'}}</h4>
                    <div class="chapter-objectives">
                      <div class="chapter-objective" *ngFor="let objective of chapter.objectives">
                        <ion-icon name="locate" mode="md"></ion-icon>
                        <ion-text>{{objective}}</ion-text>
                      </div>
                    </div>
                  </ng-container>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-slide>
        <ng-container *ngFor="let content of chapter.initializedContents; let index = index">
          <ng-container *ngIf="!content.conditional || ( content.conditional && reading.flags.indexOf(content.id) !== -1 )">
            <ion-slide>
              <ng-container *ngIf="content.type === 'html'">
                <div class="page-wrapper">
                  <div class="page-header">
                    <ion-icon name="document-text" size="large"></ion-icon>
                    <div class="title">
                      <h1>{{content.title}}</h1>
                    </div>
                  </div>
                  <div class="page-content page-content-html">
                    <div class="custom-card">
                      <div class="custom-card-content">
                        <html-content [html]="content.html"></html-content>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="content.type === 'video'">
                <div class="page-wrapper">
                  <div class="page-header">
                    <ion-icon name="videocam" size="large"></ion-icon>
                    <div class="title">
                      <h1>{{content.title}}</h1>
                    </div>
                  </div>
                  <div class="page-content page-content-video">
                    <div class="video-card">
                      <video-player [src]="content.source" [poster]="content.poster"
                                    [subtitles]="content.subtitles" [title]="content.title"
                                    (timelineDragging)="timelineDragging($event)"></video-player>
                      <h4>Résumé</h4>

                      <div class="video-summary">
                        <html-content [html]="content.summary" *ngIf="content.summary && content.summary.length > 0"></html-content>
                        <p *ngIf="!content.summary || content.summary.length <= 0">No summary.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="content.type === 'simple-question'">
                <div class="page-wrapper">
                  <div class="page-content page-content-simple-question">
                    <simple-question [epocId]="epoc.id" [content]="content" [question]="epoc.questions[content.question]"></simple-question>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="content.type === 'choice'">
                <div class="page-wrapper">
                  <div class="page-header">
                    <ion-icon name="git-branch"></ion-icon>
                    <div class="title">
                      <h1>{{content.title}}</h1>
                    </div>
                  </div>
                  <div class="page-content page-content-course-choice">
                    <course-choice [epocId]="epoc.id" [content]="content" (chosen)="nextPage()"></course-choice>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="content.type === 'assessment'">
                <div class="page-wrapper">
                  <div class="page-header">
                    <ion-icon name="checkbox" size="large"></ion-icon>
                    <div class="title">
                      <h1>{{content.title}}</h1>
                    </div>
                  </div>
                  <div class="page-content page-content-assessment">
                    <ion-card>
                      <img src="assets/img/activity.jpg" />
                      <ion-card-content>
                        <ion-row class="activity-specs ion-text-center">
                          <ion-col size="6">
                            <div class="activity-spec-icon"><ion-icon name="school" color="inria-blue"></ion-icon></div>
                            <div class="activity-spec-value" *ngIf="content.scoreTotal > 0">Noté</div>
                            <div class="activity-spec-value" *ngIf="content.scoreTotal <= 0">Non Noté</div>
                          </ion-col>
                          <ion-col size="6">
                            <div class="activity-spec-icon"><ion-icon name="help" color="inria-blue"></ion-icon></div>
                            <div class="activity-spec-value">{{content.questions.length}} question<ng-container *ngIf="content.questions.length > 1">s</ng-container></div>
                          </ion-col>
                        </ion-row>
                        <p>{{content.summary}}</p>
                        <assessment-button [content]="content" [epoc]="epoc"></assessment-button>
                      </ion-card-content>
                    </ion-card>
                  </div>
                </div>
              </ng-container>
            </ion-slide>
          </ng-container>
        </ng-container>
        <ion-slide>
          <div class="page-wrapper">
            <div class="page-header">
              <ion-icon name="ribbon" size="large"></ion-icon>
              <div class="title">
                <h1>Fin du chapitre</h1>
              </div>
            </div>
            <div class="page-content page-content-next">
              <div class="custom-card next-chapter-card" *ngIf="nextChapter">
                <div class="custom-card-content">
                  <h2 class="follow-up">À suivre :</h2>
                  <div class="next-chapter-image"
                       [routerLink]="'/player/play/'+epoc.id+'/'+nextChapterId"
                       [ngStyle]="{'background-image': 'url(' + libraryService.rootFolder +  nextChapter.image + ')'}">
                  </div>
                  <p><b>Chapitre {{chapterIndex + 2}} :</b> {{nextChapter.title}} </p>
                </div>
                <div class="custom-card-footer">
                  <ion-button color="medium" expand="block" [routerLink]="'/player/toc/'+epoc.id">
                    <ion-icon name="list" slot="start" mode="ios"></ion-icon>
                    Table des matières
                  </ion-button>
                  <ion-button expand="block" [routerLink]="'/player/play/'+epoc.id+'/'+nextChapterId">
                    <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
                    Chapitre suivant
                  </ion-button>
                </div>
              </div>
              <div class="custom-card next-chapter-card end-chapter-card" *ngIf="!nextChapter">
                <div class="custom-card-content">
                  <ion-icon name="checkmark-done-circle-outline" color="success" class="end-icon"></ion-icon>
                  <h2 class="follow-up">C'est terminé !</h2>
                  <p>Bravo, vous avez atteint la fin de la formation.</p>
                  <p>Pour obtenir l'attestation, consultez la page des scores.</p>
                  <p>Ou retournez à la table des matières pour rejouer un chapitre.</p>
                </div>
                <div class="custom-card-footer">
                  <ion-button color="medium" expand="block" [routerLink]="'/player/toc/'+epoc.id">
                    <ion-icon name="list" slot="start"></ion-icon>
                    Table des matières
                  </ion-button>
                  <ion-button expand="block" [routerLink]="'/player/score/'+epoc.id">
                    <ion-icon name="podium" slot="start"></ion-icon>
                    Page des scores
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ng-container>
  </div>
  <div class="reader-progress" slot="fixed">
    <ion-progress-bar color="inria" [value]="progress"></ion-progress-bar>
  </div>
  <div class="certificate-container" slot="fixed" *ngIf="certificateShown">
    <ion-card class="certificate-success-card">
      <ion-card-header class="certificate-success-card-header">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content class="certificate-success-card-content">
        <ion-card-title>Félicitations</ion-card-title>
        <p>Vous avez atteint le score nécéssaire à l'obtention de l'attestation. Vous pouvez générer l'attestation maintenant ou continuer pour augmenter votre score.</p>
        <ion-button (click)="goToCertificate()">Obtenir l'attestation</ion-button>
        <ion-button (click)="dismissCertificateCard()" color="medium">Continuer</ion-button>
        <p><small>(Vous trouverez l'attestation dans la page des scores)</small></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="reader-action">
      <div class="page-action page-prev" [ngClass]="currentPage === 0 ? 'disable':''" (click)="prevPage()" *ngIf="dataInitialized">
        <ion-icon name="caret-back"></ion-icon>
      </div>
      <div class="page-action menu" (click)="displayMenu()">
        <ion-icon name="menu"></ion-icon>
      </div>
      <div class="page-action page-next" [ngClass]="currentPage >= chapter.contents.length + 1 ? 'disable':''" (click)="nextPage()" *ngIf="dataInitialized">
        <ion-icon name="caret-forward"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
