:host{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 7px 0 #D5DDE9;
  border-radius: 1rem;
}

.card-content{
}
