# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode/*
!/.vscode/extensions.json
/coverage
/dist
/node_modules
/platforms
/plugins
/www
.angular

# Sensitive information
/src/environments/secrets.ts

# Capacitor
/ios/App/App/public/
/ios/App/App/capacitor.config.json
/ios/App/Pods/
/ios/DerivedData/
/ios/App/App/GoogleService-Info.plist
/android/app/src/main/assets/public
/android/app/google-services.json
/android/app/capacitor.build.gradle
/android/.gradle/
/android/build/
/android/app/build/
/android/capacitor-cordova-android-plugins/build/
