image: node:20-alpine

stages:
  - build
  - deploy

build:
  stage: build
  before_script:
    - apk add --no-cache zip
  script:
  - npm ci
  - npm run build-preview # build preview for editor
  - cd dist && rm -rf ./assets/demo && zip -r ../preview.zip ./* && cd - # zip editor preview
  artifacts:
    expire_in: 1 week
    paths:
    - preview.zip
    - dist
  only:
  - master

