image: node:18

stages:
  - build
  - deploy

build:
  stage: build
  before_script:
    - apt-get update -qy
    - apt-get -y install zip
  script:
  - export NG_CLI_ANALYTICS=ci
  - npm ci
  - npm run build-preview # build preview for editor
  - cd dist && rm -rf ./assets/demo && zip -r ../preview.zip ./* && cd - # zip editor preview
  artifacts:
    expire_in: 1 week
    paths:
    - preview.zip
    - dist
  only:
  - master

