<common-question icon="help-circle-outline" [title]="content.title" [subtitle]="content.subtitle" [contentId]="content.id"
                 [epocId]="epocId" [question]="question" [userAssessment]="userAssessment"
                 (questionAnswered)="onQuestionAnswered($event)"
                 (dragging)="onDrag($event)" (userHasResponded)="onUserHasResponded($event)">
  <ion-button *ngIf="!questionAnswered && question.responses.length > 0" [disabled]="disableCheck" expand="block" size="large" color="inria" (click)="checkAnswer($event)">
    <span>{{'QUESTION.SIMPLE_QUESTION.VALIDATE' | translate}}</span>
  </ion-button>
  <ion-button *ngIf="question.responses.length <= 0" expand="block" size="large" color="outline-button" fill="outline" (click)="checkAnswer($event)">
    <span>{{'QUESTION.SIMPLE_QUESTION.FINISH' | translate}}</span>
  </ion-button>
</common-question>
