<div class="badge" [ngClass]="{'nobg' : nobg, 'locked': locked}">
  <div class="badge-background">
    <div class="badge-image" *ngIf="!locked">
      <img [src]="shape" class="image-shape" alt="badge">
      <img [src]="icon" class="image-icon" alt="">
      <img [src]="shadow" class="image-shadow" alt="">
    </div>
    <div class="badge-image" *ngIf="locked">
      <img src="/assets/icon/badge/locked.svg" alt="badge locked"/>
    </div>
  </div>
  <div class="badge-title" *ngIf="title">{{ title }}</div>
</div>