.question-card{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  flex-grow: 1;
  background: #fff;
  border-radius: 8px;
  filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.12));

  b{
    line-height: 1;
  }

  button{
    display: block;
    width:100%;
    margin-top: 1em;
    padding: 1em;
    background: #fefefe;
    font-weight: bold;
    color:var(--ion-color-inria-blue);
    border-radius: 4px;
    border: 1px solid var(--ion-color-inria-blue);

    &.selected{
      color:white;
      background: var(--ion-color-inria-blue);
    }
  }
}
