<ng-container *ngIf="nextChapter">
  <p><b class="ion-text-capitalize">{{chapterLabel}} suivant :</b> {{nextChapter.title}} </p>
  <ion-button expand="block" size="large" color="inria" fill="outline" [routerLink]="'/epoc/toc/'+epoc.id">
    Table des matières
  </ion-button>
  <ion-button expand="block" size="large" color="inria" [routerLink]="'/epoc/play/'+epoc.id+'/'+nextChapter.id">
    {{chapterLabel}} suivant
  </ion-button>
</ng-container>
<ng-container *ngIf="!nextChapter">
  <p>
    Bravo, vous avez atteint la fin de la formation.<br/>
    Pour obtenir l'attestation, consultez la page des scores.<br/>
    Ou retournez à la table des matières pour rejouer un <span>{{chapterLabel}}</span>.
  </p>
  <ion-button expand="block" size="large" color="inria" fill="outline" [routerLink]="'/epoc/toc/'+epoc.id">
    <span>Table des matières</span>
  </ion-button>
  <ion-button expand="block" size="large" color="inria" [routerLink]="'/epoc/score/'+epoc.id">
    <span>Page des scores</span>
  </ion-button>
</ng-container>
