<ng-container *ngIf="nextChapter">
  <p><b class="ion-text-capitalize"[translate]="'PLAYER.CHAPTER_END.NEXT'" [translateParams]="{chapter: chapterLabel}" > :</b> {{nextChapter.title}} </p>
  <ion-button expand="block" size="large" color="outline-button" fill="outline" [routerLink]="'/epoc/toc/'+epoc.id">
    <span>{{'FLOATING_MENU.TOC' | translate}}</span>
  </ion-button>
  <ion-button expand="block" size="large" color="inria" [routerLink]="'/epoc/play/'+epoc.id+'/'+nextChapter.id">
    <span [translate]="'PLAYER.CHAPTER_END.NEXT'" [translateParams]="{chapter: chapterLabel}"></span>
  </ion-button>
</ng-container>
<ng-container *ngIf="!nextChapter">
  <p [translate]="'PLAYER.CHAPTER_END.MSG'" [translateParams]="{chapter: chapterLabel}">
  </p>
  <ion-button expand="block" size="large" color="outline-button" fill="outline" [routerLink]="'/epoc/toc/'+epoc.id">
    <span>{{'FLOATING_MENU.TOC' | translate}}</span>
  </ion-button>
  <ion-button expand="block" size="large" color="inria" [routerLink]="'/epoc/score/'+epoc.id">
    <span>{{'PLAYER.CHAPTER_END.SCORE' | translate}}</span>
  </ion-button>
  <ion-button expand="block" size="large" color="inria-grey" (click)="leaveComment()">
    <span>{{'PLAYER.CHAPTER_END.REVIEW' | translate}}</span>
  </ion-button>
</ng-container>
