<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home" color="inria-icon"></ion-back-button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper" (click)="resetDevModeCount()">
    <ion-list>
      <ion-list-header>
        Affichage
      </ion-list-header>
      <ion-item>
        <ion-label>Debug</ion-label>
        <ion-toggle [(ngModel)]="settings.debug" (ngModelChange)="settingsChanged()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="settings.debug">
        <ion-label>Émettre une erreur de test</ion-label>
        <ion-button slot="end" color="inria-grey" (click)="throwError()">
          <ion-icon slot="icon-only" name="bug-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ng-container *ngIf="true">
        <ion-item>
          <ion-label>Police</ion-label>
          <ion-select [(ngModel)]="settings.font" (ngModelChange)="settingsChanged()">
            <ion-select-option value="Inria Sans">Sans serif</ion-select-option>
            <ion-select-option value="Inria Serif">Serif</ion-select-option>
            <ion-select-option value="open-dyslexic">Open Dyslexic</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Taille</ion-label>
          <ion-range min="12" max="20" step="4" [(ngModel)]="settings.fontSize" (ngModelChange)="settingsChanged()" snaps>
            <ion-icon slot="start" size="small" src="assets/icon/text-size.svg"></ion-icon>
            <ion-icon slot="end" src="assets/icon/text-size.svg"></ion-icon>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label>Interligne</ion-label>
          <ion-range min="1" max="2" step="0.5" [(ngModel)]="settings.lineHeight" (ngModelChange)="settingsChanged()" snaps>
            <ion-icon slot="start" size="small" src="assets/icon/height.svg"></ion-icon>
            <ion-icon slot="end" src="assets/icon/height.svg"></ion-icon>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label>Mode sombre</ion-label>
          <ion-toggle [(ngModel)]="settings.darkMode" (ngModelChange)="settingsChanged()"></ion-toggle>
        </ion-item>
        <ion-list-header class="preview">
          Prévisualisation
        </ion-list-header>
        <ion-item>
          <ion-text class="preview-settings" [ngStyle]="getStyle()">
            <h4>Titre</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequatur,
              cumque iusto modi molestiae nihil quibusdam temporibus voluptatem?
            </p>
          </ion-text>
        </ion-item>
      </ng-container>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Utilisateur
      </ion-list-header>
      <ng-container *ngIf="user">
        <ion-item *ngIf="user.email">
          <ion-label>Email : {{user.email}}</ion-label>
          <ion-icon slot="end" name="log-out-outline" (click)="logout()"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Nom : {{user.lastname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Prenom : {{user.firstname}}</ion-label>
        </ion-item>
        <ion-item *ngIf="user.username">
          <ion-label>Username : {{user.username}}</ion-label>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="!user">
        <ion-item (click)="setUser()" detail>
          <ion-label>Définir un utilisateur</ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
    <ion-list *ngIf="info && info.version">
      <ion-list-header>
        Informations Applications
      </ion-list-header>
      <ion-item>
        <ion-label>Version</ion-label>
        <ion-note slot="end" (click)="setDevMode($event)">v{{info.version}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Build version</ion-label>
        <ion-note slot="end">{{info.build}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Collecte de statistiques anonymes</ion-label>
        <ion-toggle [checked]="isUserOptIn" (ionChange)="trackerToggle()"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Données ePocs
      </ion-list-header>
      <ion-item *ngIf="settings.devMode">
        <ion-label>Mode développeur</ion-label>
        <ion-toggle [(ngModel)]="settings.devMode" (ngModelChange)="disableDevMode($event)"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="settings.devMode">
        <ion-label>Ouvrir un autre ePoc</ion-label>
        <ion-icon slot="end" routerLink="/open" name="folder-open-outline"></ion-icon>
      </ion-item>
      <ion-item *ngIf="settings.devMode">
        <ion-label>Bibliothèque</ion-label>
        <ion-select [value]="settings.libraryMode" (ionChange)="libraryChanged($event)">
          <ion-select-option value="libraryUrl">Prod</ion-select-option>
          <ion-select-option value="libraryQlfUrl">Qlf</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="big-button" (click)="deleteData()">
          <div class="big-button-label"><ion-icon name="trash-outline"></ion-icon> Supprimer les données</div>
          <div class="big-button-sublabel">Attestations, quiz, préférences, etc.</div>
      </div>
    </ion-list>
  </div>
</ion-content>
