<ion-header #header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Retour" color="inria-blue"></ion-back-button>
        </ion-buttons>
        <ion-title>Tables des matières</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="epoc">
    <div class="wrapper">
        <div class="toc-header">
            <img [src]="(epocService.rootFolder +  epoc.image) | safe: 'url'">
            <div class="toc-header-title">{{epoc.title}}</div>
        </div>
        <div class="toc-content">
            <div class="toc-chapter" *ngFor="let chapter of epoc.chapters | denormalize;let index = index" [routerLink]="'/epoc/play/'+epoc.id+'/'+chapter.id">
                <div class="toc-chapter-progress">

                </div>
                <div class="toc-chapter-info">
                    <div class="toc-chapter-info-label">{{epoc.parameters.chapterParameter ? epoc.parameters.chapterParameter : 'Chapitre'}} {{index + 1}}</div>
                    <div class="toc-chapter-info-title">{{chapter.title}}</div>
                    <div class="toc-chapter-info-details"></div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
