<div class="epoc-card">
  <ion-card [mode]="'md'" (click)="open()">
    <img [src]="epoc.image" />
    <ion-card-header [mode]="'md'">
      <ion-progress-bar *ngIf="progress" class="epoc-progress" [value]="progress"></ion-progress-bar>
      <ion-card-title [mode]="'md'" class="epoc-title">{{epoc.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content [mode]="'md'">
      <ul class="epoc-authors">
        <li *ngFor="let author of epoc.authors">{{author.name}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <div class="epoc-toolbar" *ngIf="displayToolbar">
    <div class="epoc-tool">
      <ion-icon ios="ios-more" md="ios-more" (click)="moreInfo()"></ion-icon>
    </div>
  </div>
</div>

