<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Adjust Display
    </ion-list-header>
    <ion-item>
      <ion-label>Font</ion-label>
      <ion-select [(ngModel)]="settings.font" (ngModelChange)="settingsChanged()">
        <ion-select-option value="Inria Sans">Sans serif</ion-select-option>
        <ion-select-option value="Inria Serif">Serif</ion-select-option>
        <ion-select-option value="open-dyslexic">Open Dyslexic</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-range min="8" max="25" step="1" [(ngModel)]="settings.fontSize" (ngModelChange)="settingsChanged()" snaps>
        <ion-icon slot="start" size="small" src="assets/icon/text-size.svg"></ion-icon>
        <ion-icon slot="end" src="assets/icon/text-size.svg"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="1" max="2" step="0.1" [(ngModel)]="settings.lineHeight" (ngModelChange)="settingsChanged()" snaps>
        <ion-icon slot="start" size="small" src="assets/icon/height.svg"></ion-icon>
        <ion-icon slot="end" src="assets/icon/height.svg"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle [(ngModel)]="settings.darkMode" (ngModelChange)="settingsChanged()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Preview
    </ion-list-header>
    <ion-item>
      <ion-text class="preview-settings" [ngStyle]="getStyle()">
        <h4>Heading</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequatur,
          cumque iusto modi molestiae nihil quibusdam temporibus voluptatem?
        </p>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
