<ion-header mode="ios" class="home">
  <ion-toolbar>
    <div class="logo" slot="start">
      <div class="epoc-logo"></div>
      <div class="by-inria"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="epoc">
  <div class="wrapper">
    <div tabindex="-1" class="epoc-title">
      <h3>{{epoc.title}}</h3>
    </div>

    <div class="epoc-trailer">
      <video-player [src]="epoc.teaser" [poster]="epoc.image" [controls]="{show:false, timeline: true, overlay: true}"></video-player>
    </div>

    <div class="epoc-specs">
      <div class="epoc-spec">
        <div class="epoc-spec-icon"><ion-icon name="reader-outline"></ion-icon></div>
        <div class="epoc-spec-value">
          {{epoc.chaptersCount}} {{'OVERVIEW_PAGE.CHAPTERS' | plural:epoc.chaptersCount | translate}}
        </div>
      </div>
      <div class="epoc-spec">
        <div class="epoc-spec-icon"><ion-icon name="cube-outline"></ion-icon></div>
        <div class="epoc-spec-value">{{epoc.assessmentsCount}} {{'OVERVIEW_PAGE.ACTIVITIES' | plural:epoc.assessmentsCount | translate}}</div>
      </div>
      <div class="epoc-spec">
        <div class="epoc-spec-icon"><ion-icon name="time-outline"></ion-icon></div>
        <div class="epoc-spec-value">10 {{'OVERVIEW_PAGE.MIN_MODULE' | translate}}</div>
      </div>
    </div>

    <div class="tabs-headers">
      <div class="tabs-header" (click)="selectTab(0)" [ngClass]="selectedTab === 0 ? 'selected':''">
        <span>{{'OVERVIEW_PAGE.OBJECTIVES' | plural: epoc.objectives.length | translate}}</span>
      </div>
      <div class="tabs-header" (click)="selectTab(3)" [ngClass]="selectedTab === 3 ? 'selected':''" *ngIf="epoc.prerequisites">
        <span>{{'OVERVIEW_PAGE.PREREQUISITES' | translate}}</span>
      </div>
      <div class="tabs-header" (click)="selectTab(1)" [ngClass]="selectedTab === 1 ? 'selected':''">
        <span>{{'OVERVIEW_PAGE.RESUME' | translate}}</span>
      </div>
      <div class="tabs-header" (click)="selectTab(2)" [ngClass]="selectedTab === 2 ? 'selected':''">
        <span>{{'OVERVIEW_PAGE.AUTHORS' | plural: (epoc.authors|values).length | translate}}</span>
      </div>
    </div>
    <div class="tabs">
      <div class="tab" *ngIf="selectedTab === 0">
        <div class="course-objective" *ngFor="let objective of epoc.objectives">
          <div class="course-objective-icon"><ion-icon name="checkmark-outline"></ion-icon></div>
          <ion-text>{{objective}}</ion-text>
        </div>
      </div>
      <div class="tab" *ngIf="selectedTab === 3">
        <div class="course-prerequisites" *ngFor="let prerequisite of epoc.prerequisites">
          <div class="course-prerequisites-icon"><ion-icon aria-hidden="true" name="arrow-forward-outline"></ion-icon></div>
          <ion-text>{{prerequisite}}</ion-text>
        </div>
      </div>
      <div class="tab" *ngIf="selectedTab === 1">
        <ion-text class="html-text" [innerHTML]="epoc.summary"></ion-text>
      </div>
      <div class="tab" *ngIf="selectedTab === 2">
        <div class="epoc-author" *ngFor="let author of epoc.authors | values">
          <div class="epoc-author-name">
            <img [alt]="('OVERVIEW_PAGE.PICTURE_ALT' | translate) + author.name" *ngIf="author.image" [src]="author.image | safe: 'url': epocService.rootFolder"/>
            <div>
              {{author.name}}
              <div class="epoc-author-title">{{author.title}}</div>
            </div>
          </div>
          <div class="epoc-author-description html-text" [innerHTML]="author.description"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer mode="ios" *ngIf="epoc">
  <ion-toolbar>
    <ion-button class="start-course" [routerLink]="'/epoc/toc/'+epoc.id" routerDirection="forward" size="large" expand="block" color="inria" strong>
      <span>{{'OVERVIEW_PAGE.GO' | translate}}</span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
