<app-card class="chapter-info">
  <div class="title-container">
    <div class="title-icon">
      <ion-icon aria-hidden="true" name="school-outline"></ion-icon>
    </div>
    <h5 class="title">
      {{chapter.title}}
    </h5>
  </div>
  <div class="chapter-specs">
    <div class="chapter-spec">
      <div class="chapter-spec-icon"><ion-icon aria-hidden="true" name="time-outline"></ion-icon></div>
      <div class="chapter-spec-value">{{chapter.time}} min</div>
    </div>
    <div class="chapter-spec">
      <div class="chapter-spec-icon"><ion-icon aria-hidden="true" name="play-circle-outline"></ion-icon></div>
      <div class="chapter-spec-value">{{chapter.videoCount}} {{'PLAYER.VIDEOS' | plural: chapter.videoCount | translate}}</div>
    </div>
    <div class="chapter-spec">
      <div class="chapter-spec-icon"><ion-icon aria-hidden="true" name="cube-outline"></ion-icon></div>
      <div class="chapter-spec-value">{{chapter.assessmentCount}} {{'OVERVIEW_PAGE.ACTIVITIES' | plural: chapter.assessmentCount | translate}}</div>
    </div>
  </div>

  <ng-container *ngIf="chapter.objectives && chapter.objectives.length > 0">
    <h4 class="chapter-objectives-label">{{'OVERVIEW_PAGE.OBJECTIVES' | plural:chapter.objectives.length | translate}}</h4>
    <div class="chapter-objectives">
      <div class="chapter-objective" *ngFor="let objective of chapter.objectives">
        <div class="chapter-objective-icon"><ion-icon name="checkmark-outline"></ion-icon></div>
        <ion-text>{{objective}}</ion-text>
      </div>
    </div>
  </ng-container>
</app-card>
