<div class="audio-player">
  <div aria-hidden="true" class="audio-container" [ngClass]="{'playing':playing}" (click)="play()">
    <audio #audio [src]="src | safe: 'url': epocService.rootFolder"></audio>
    <div class="visualizer">

      <div class="play-overlay" *ngIf="!playing">
        <ion-icon src="assets/icon/play.svg"></ion-icon>
      </div>
      <canvas #canvas></canvas>

      <ng-container *ngIf="src">
        <div class="audio-timeline" (click)="seek($event)" [style.display]="controls.timeline ? 'block':'none'">
          <div class="audio-timeline-progress" [style.width]="progress +'%'" #timelineProgress></div>
          <div class="audio-timeline-cursor" [style.left]="progress +'%'" #timelineCursor></div>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="src && controls.show">
    <div class="audio-actions">
      <div class="audio-actions-center" *ngIf="controls.playbutton">
        <button class="audio-action" aria-label="-10s" (click)="jump(-10)"><span>-10</span></button>
        <button class="audio-action" aria-label="Lancer la lecture" (click)="play()"><ion-icon [name]="playing ? 'pause-outline':'play-outline'"></ion-icon></button>
        <button class="audio-action" aria-label="+10s" (click)="jump(10)"><span>+10</span></button>
      </div>
    </div>
  </ng-container>
</div>
