<p class="nbCorrect">{{selectHeader}}</p>
<ion-radio-group [value]="selectValue">
  <ion-item [lines]="'none'" *ngFor="let response of question.responses" (click)="selectAnswer(response.value)"
            [ngClass]="{
               'correct': (solutionShown && response.value === question.correctResponse[0])
               || (selectedAnswer === question.correctResponse[0] && selectedAnswer === response.value && correctionState),
               'incorrect': correctionState
               && !solutionShown
               && (selectedAnswer !== question.correctResponse[0] && selectedAnswer === response.value)
               }"
  >
    <ion-radio mode="md" slot="start" [disabled]="correctionState" [value]="response.value">
    </ion-radio>
    <ion-label class="ion-text-wrap">
      {{response.label}}
    </ion-label>
  </ion-item>
</ion-radio-group>
