.assessment{
  padding:20px;
}

.check-answer{
  margin: 1em auto;
  width: calc(100% - 2em);
  max-width: 380px;
}

.swiper-container{
  height:100%;
}

.assessment-item{
  align-items: stretch;
}

.question{
  display: flex;
  align-items: flex-start;
  overflow-y: auto;
}

.explanation-card{
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  max-width: 480px;
  width: 100%;
  height: calc(100% - 48px);

  .card-content-ios{
    padding-top: 0;
    overflow: auto;
  }

  .explanation-icon{
    font-size: 50px;
    margin-bottom: 20px;
  }

  .explanation-text {
    font-size:14px;
  }
}

.assessment-end{
  ion-card-header {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ion-card-content{
    display: flex;
  }

  .score-donut{
    width:100%;
  }

  .retry{
    transform: scaleX(-1);
  }

  .resume-course{
    flex-grow: 1;
  }
}
