<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="assessment" (click)="back($event)" [defaultHref]="'/player/play/' + epoc.id + '/content/' + assessmentId"></ion-back-button>
    </ion-buttons>
    <ion-title>Activité</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" *ngIf="assessment">
  <ion-slides #questionSlides [options]="slidesOptions">
    <ng-container *ngFor="let question of assessment.items; let questionIndex = index;">
      <ion-slide class="assessment-item">
        <ng-container *ngIf="question.type === 'choice'">
          <simple-choice class="question" [question]="question" [questionMeta]="{index: questionIndex+1, total: assessment.items.length}" (onSelectAnswer)="updateCurrentAnswer($event)"></simple-choice>
        </ng-container>
        <ng-container *ngIf="question.type === 'multiple-choice'">
          <multiple-choice class="question" [question]="question" [questionMeta]="{index: questionIndex+1, total: assessment.items.length}" (onSelectAnswer)="updateCurrentAnswer($event)"></multiple-choice>
        </ng-container>
        <ng-container *ngIf="question.type === 'reorder'">
          <reorder class="question" [question]="question" [questionMeta]="{index: questionIndex+1, total: assessment.items.length}" (onSelectAnswer)="updateCurrentAnswer($event)"></reorder>
        </ng-container>
        <ng-container *ngIf="question.type === 'drag-and-drop'">
          <drag-and-drop class="question" [question]="question" [questionMeta]="{index: questionIndex+1, total: assessment.items.length}" (onSelectAnswer)="updateCurrentAnswer($event)"></drag-and-drop>
        </ng-container>
      </ion-slide>
      <ion-slide class="assessment-item-explanation">
        <ion-card mode="ios" class="explanation-card">
          <ion-card-header mode="ios" *ngIf="questionsSuccessed[questionIndex]">
            <ion-icon name="checkmark-circle-outline" mode="ios" color="success" class="explanation-icon"></ion-icon>
            <ion-card-subtitle mode="ios">Explication</ion-card-subtitle>
            <ion-card-title mode="ios">Bravo !</ion-card-title>
          </ion-card-header>
          <ion-card-header mode="ios" *ngIf="!questionsSuccessed[questionIndex]">
            <ion-icon name="close-circle-outline" mode="ios" color="danger" class="explanation-icon"></ion-icon>
            <ion-card-subtitle mode="ios">Explication</ion-card-subtitle>
            <ion-card-title mode="ios">Non !</ion-card-title>
          </ion-card-header>
          <ion-card-content mode="ios">
            <ion-text [innerHTML]="question.explanation"></ion-text>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ng-container>
    <ion-slide class="assessment-end">
      <ion-card mode="ios" class="explanation-card">
        <ion-card-header mode="ios">
          <ion-card-subtitle mode="ios">Résumé de l'activité</ion-card-subtitle>
          <ion-card-title mode="ios" *ngIf="getScoreTotal() > 0">Votre score</ion-card-title>
          <div class="score-donut" *ngIf="getScoreTotal() > 0">(A venir)</div>
          <ion-card-title mode="ios" *ngIf="getScoreTotal() <= 0">Non noté</ion-card-title>
        </ion-card-header>
        <ion-card-content mode="ios">
          <ion-button class="retry" color="warning" fill="outline" (click)="retry()"><ion-icon name="refresh"></ion-icon></ion-button>
          <ion-button class="resume-course" (click)="resume()">Continuer le cours <ion-icon name="arrow-dropright" slot="end" mode="md"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer *ngIf="questionSlides && hasNextSlide()">
  <ion-button class="check-answer" expand="block" slot="center" [disabled]="!currentAnswer" (click)="checkAnswer()" *ngIf="!explanationShown">Valider</ion-button>
  <ion-button class="check-answer" expand="block" slot="center" (click)="nextQuestion()" *ngIf="explanationShown">Compris, suivant !</ion-button>
</ion-footer>
