@import "../../../../../colors";

.video-card{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 1;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;

  & > h4 {
    margin-top: 0;
    padding: 0 16px;
  }
}

.video-summary{
  overflow: auto;
  flex-grow:1;
  padding: 0 16px;

  p{
    margin-top: 0;
  }
}
