.sort-group{
  padding:.5rem;
  margin-bottom: 1em;
  background: var(--ion-color-background);
  border: 1px solid var(--ion-color-contrast-2);
  border-radius: 10px;

  &:last-child{
    margin-bottom: 0;
  }

  .sort-group-label{
    flex-grow: 1;
    padding-top: .25em;
    margin-bottom: .5rem;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--ion-color-text);
  }

  ion-item {
    --background: var(--ion-color-item);

    ion-label {
      color: var(--ion-color-label);
    }
  }
}
