<ion-header mode="ios" class="home">
  <ion-toolbar>
    <div class="logo" slot="start">
      <ion-img src="assets/img/ePoc.svg"></ion-img>
    </div>
    <ion-button class="icon-btn" slot="end" routerLink="/settings" routerDirection="forward">
      <ion-icon slot="icon-only" name="settings-outline" color="inria-icon"></ion-icon>
    </ion-button>
    <ion-button class="icon-btn" slot="end" routerLink="/about" routerDirection="forward">
      <ion-icon slot="icon-only" name="information-circle-outline" color="inria-icon"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="epoc-welcome">
      <h1>Bienvenue</h1>
      <h3>Dans la formation ePoc : Zone à Régime Restrictif</h3>
      <img src="assets/img/ZRR-couv-4.png"/>
    </div>
    <p>Pour commencer veuillez vous connecter</p>
    <ion-button class="start-course" (click)="oauthLogin()" routerDirection="forward" size="large" expand="block" color="inria-text" strong>
      <span>Connexion CAS Inria</span>
    </ion-button>
    <ion-button class="start-course" (click)="externalLogin()" routerDirection="forward" size="large" expand="block" fill="outline" color="inria-text" strong>
      <span>Connexion Externe</span>
    </ion-button>
    <p><a href="mailto:ill-epoc-contact@inria.fr">Demander un accès</a></p>
  </div>
</ion-content>
