<ion-header mode="ios" class="home">
  <ion-toolbar>
    <div class="logo" slot="start">
      <div class="epoc-logo"></div>
      <div class="by-inria"></div>
    </div>
    <ion-button class="icon-btn" slot="end" routerLink="/settings" routerDirection="forward">
      <ion-icon slot="icon-only" name="settings-outline" color="inria-icon"></ion-icon>
    </ion-button>
    <ion-button class="icon-btn" slot="end" routerLink="/about" routerDirection="forward">
      <ion-icon slot="icon-only" name="information-circle-outline" color="inria-icon"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="epoc-welcome">
      <h1>{{'ZRR.LOGIN_PAGE.HEADER' | translate}}</h1>
      <h3>{{'ZRR.LOGIN_PAGE.ZRR_MSG' | translate}}</h3>
      <img src="assets/img/ZRR-couv-4.png"/>
    </div>
    <p>{{'ZRR.LOGIN_PAGE.MSG' | translate}}</p>
    <ion-button class="start-course" (click)="oauthLogin()" routerDirection="forward" size="large" expand="block" color="inria-icon" strong>
      <span>{{'ZRR.LOGIN_PAGE.SPAN_CAS' | translate}}</span>
    </ion-button>
    <ion-button class="start-course" (click)="externalLogin()" routerDirection="forward" size="large" expand="block" fill="outline" color="inria-icon" strong>
      <span>{{'ZRR.LOGIN_PAGE.SPAN_EXT' | translate}}</span>
    </ion-button>
    <p><a href="mailto:ill-epoc-contact@inria.fr">{{'ZRR.LOGIN_PAGE.ACCESS' | translate}}</a></p>
  </div>
</ion-content>
