<div class="video-player">
  <div class="video-container" [ngClass]="{'playing':playing}" (click)="play()">
    <video #video disablePictureInPicture playsinline preload="metadata"
           [src]="src | safe: 'url': epocService.rootFolder">
      <ng-container *ngFor="let sub of subtitles">
        <track kind="subtitles" [label]="sub.label" [srclang]="sub.lang"
               [src]="sub.src | safe: 'url': epocService.rootFolder">
      </ng-container>
    </video>
    <div class="poster" *ngIf="!hasPlayed">
      <h4 class="title">{{title}}</h4>
      <img [src]="poster | safe: 'url': epocService.rootFolder" *ngIf="poster"/>
    </div>
    <div class="video-play-overlay">
      <ion-icon src="assets/icon/play.svg"></ion-icon>
    </div>
    <div class="video-timeline" (click)="seek($event)" [style.display]="controls.timeline ? 'block':'none'">
      <div class="video-timeline-progress" [style.width]="progress +'%'" #timelineProgress></div>
      <div class="video-timeline-cursor" [style.left]="progress +'%'" #timelineCursor></div>
    </div>
    <div class="video-overlay-controls">
      <ion-icon name="scan-outline" (click)="fullscreen($event)" *ngIf="controls.overlay"></ion-icon>
    </div>
  </div>

  <ng-container *ngIf="controls.show">
    <ion-item class="hidden-select" *ngIf="controls.subtitles && subtitles && subtitles.length >0">
      <ion-label>Sous-titres</ion-label>
      <ion-select #tracks [value]="trackSelected" (ionChange)='changeSubtitles($event)'>
        <ion-select-option value="none">Aucun</ion-select-option>
        <ion-select-option [value]="sub.lang" *ngFor="let sub of subtitles">{{sub.label}}</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="video-actions">
      <div class="video-actions-left" *ngIf="controls.subtitles">
        <ion-icon name="logo-closed-captioning" (click)="captions()" *ngIf="subtitles && subtitles.length >0"></ion-icon>
      </div>
      <div class="video-actions-center" *ngIf="controls.playbutton">
        <ion-icon [name]="playing ? 'pause':'play'" (click)="play()"></ion-icon>
      </div>
      <div class="video-actions-right" *ngIf="controls.fullscreen">
        <ion-icon name="expand" (click)="fullscreen($event)"></ion-icon>
      </div>
    </div>
  </ng-container>
</div>
