<ion-header mode="ios" class="home">
  <ion-toolbar>
    <div class="logo" slot="start">
      <ion-img src="assets/img/ePoc.svg"></ion-img>
    </div>
    <ion-button class="icon-btn" slot="end" routerLink="/settings" routerDirection="forward">
      <ion-icon slot="icon-only" name="settings-outline" color="inria-blue"></ion-icon>
    </ion-button>
    <ion-button class="icon-btn" slot="end" routerLink="/about" routerDirection="forward">
      <ion-icon slot="icon-only" name="information-circle-outline" color="inria-blue"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="epoc">
  <div class="wrapper">
    <div class="epoc-title">
      <h3>{{epoc.title}}</h3>
      <ng-container *ngFor="let author of epoc.authors | values;let i = index;">
          <span class="epoc-author" [ngClass]="{'align-left' : i%2 == 1, 'align-center': i%2 == 0 && i==(epoc.authors|values).length - 1}">
            {{author.name}}
          </span>
        <span class="epoc-author-splitter" *ngIf="i%2 == 0 && i<(epoc.authors|values).length - 1">|</span>
      </ng-container>
    </div>

    <div class="epoc-trailer">
      <video-player [src]="epoc.teaser" [poster]="epoc.image" [controls]="{show:false, timeline: true, overlay: true}"></video-player>
    </div>

    <div class="epoc-specs">
      <div class="epoc-spec">
        <div class="epoc-spec-icon"><ion-icon name="reader-outline"></ion-icon></div>
        <div class="epoc-spec-value">
          {{epoc.chaptersCount}} {{epoc.chaptersCount > 1 ?'modules' : 'module'}}
        </div>
      </div>
      <div class="epoc-spec">
        <div class="epoc-spec-icon"><ion-icon name="cube-outline"></ion-icon></div>
        <div class="epoc-spec-value">{{epoc.assessmentsCount}} {{epoc.assessmentsCount > 1 ? 'activités':'activité'}}</div>
      </div>
      <div class="epoc-spec">
        <div class="epoc-spec-icon"><ion-icon name="time-outline"></ion-icon></div>
        <div class="epoc-spec-value">10 min/module</div>
      </div>
    </div>

    <div class="tabs-headers">
      <div class="tabs-header" (click)="selectTab(0)" [ngClass]="selectedTab === 0 ? 'selected':''">
        <span>{{epoc.objectives.length > 1 ? 'Objectifs' : 'Objectif'}}</span>
      </div>
      <div class="tabs-header" (click)="selectTab(1)" [ngClass]="selectedTab === 1 ? 'selected':''">
        <span>Résumé</span>
      </div>
      <div class="tabs-header" (click)="selectTab(2)" [ngClass]="selectedTab === 2 ? 'selected':''">
        <span>{{(epoc.authors|values).length > 1 ? 'Auteurs' : 'Auteur'}}</span>
      </div>
    </div>
    <div class="tabs">
      <div class="tab" *ngIf="selectedTab === 0">
        <div class="course-objective" *ngFor="let objective of epoc.objectives">
          <div class="course-objective-icon"><ion-icon name="checkmark-outline"></ion-icon></div>
          <ion-text>{{objective}}</ion-text>
        </div>
      </div>
      <div class="tab" *ngIf="selectedTab === 1">
        <ion-text class="html-text" [innerHTML]="epoc.summary"></ion-text>
      </div>
      <div class="tab" *ngIf="selectedTab === 2">
        <div class="epoc-author" *ngFor="let author of epoc.authors | values">
          <div class="epoc-author-name">
            <img *ngIf="author.image" [src]="author.image | safe: 'url'"/>
            {{author.name}}
          </div>
          <div class="epoc-author-description html-text" [innerHTML]="author.description"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer mode="ios" *ngIf="epoc">
  <ion-toolbar>
    <ion-button class="start-course" [routerLink]="'/epoc/toc/'+epoc.id" routerDirection="forward" size="large" expand="block" color="inria" strong *ngIf="epoc.downloaded">
      <span *ngIf="!epoc.opened">C'est parti !</span>
      <span *ngIf="epoc.opened">Reprendre</span>
      <ion-icon *ngIf="epoc.opened" name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>
    <ion-button class="expanded" color="inria-light" size="large" expand="block" (click)="downloadEpoc(epoc)" *ngIf="!epoc.downloading && !epoc.downloaded && !epoc.unzipping">
      <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
      <span>Télécharger</span>
    </ion-button>
    <ion-button class="expanded" size="large" expand="block" disabled="true" color="inria-light" *ngIf="epoc.downloading">
      <ion-icon name="sync-outline" class="spin" slot="start"></ion-icon>
      <span>Téléchargement <ng-container *ngIf="epocProgresses[epoc.id]">({{epocProgresses[epoc.id]}}%)</ng-container></span>
    </ion-button>
    <ion-button class="expanded" size="large" expand="block" disabled="true" color="inria-light" *ngIf="epoc.unzipping">
      <ion-icon name="cog-outline" class="spin" slot="start"></ion-icon>
      <span>Ouverture <ng-container *ngIf="epocProgresses[epoc.id]">({{epocProgresses[epoc.id]}}%)</ng-container></span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
