<app-card>
  <div class="title-container">
    <h5 class="subtitle">{{'Question '+(questionIndex+1)+'/'+content.questions.length | nbsp}}</h5>
  </div>

  <div class="statement ion-text-center">
    <b>{{question.label | nbsp}}</b>
    <div *ngIf="question.statement && !['swipe', 'drag-and-drop'].includes(question.type)">{{question.statement | nbsp}}</div>
  </div>
  <div class="question" [ngSwitch]="question.type">
    <thoughts *ngSwitchCase="question.responses.length === 0 ? question.type : !question.type" [question]="question"></thoughts>
    <simple-choice *ngSwitchCase="question.type === 'choice' && question.responses.length > 0 ? question.type : !question.type" [question]="question"></simple-choice>
    <multiple-choice *ngSwitchCase="'multiple-choice'" [question]="question"></multiple-choice>
    <reorder *ngSwitchCase="'reorder'" [question]="question"></reorder>
    <drag-and-drop *ngSwitchCase="'drag-and-drop'" [question]="question"></drag-and-drop>
    <swipe *ngSwitchCase="'swipe'" [question]="question"></swipe>
    <dropdown-list *ngSwitchCase="'dropdown-list'" [question]="question"></dropdown-list>
  </div>
</app-card>