ion-card {
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid black;
  border-radius: 3em ;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: var(--ion-color-inria-card);
  &.card-correction {
    border-radius: 1em;
  }
  &.correct {
    background: var(--ion-color-inria-correct-rgba60);
  }
  &.incorrect {
    background: var(--ion-color-inria-incorrect-rgba60);
  }
}

ion-card-header {
  height: 5em;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card-title {
  font-size: 1.5em;
}

ion-card-content {
  color: black;
  font-size: 1em;
  padding: 1em 1em 0 1em;
  margin-bottom: 1em;
  height: 100%;
  line-height: 1em;
  max-height: 14em;
  // Crop text
  display: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 13;

  -webkit-box-orient: vertical;

  &.content-correction {
    padding: 1em 1em 0 1em;
    color: black;
    font-size: 0.85em;
    line-height: 1em;
    max-height: 10em;
    // Crop the text
    display: none;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }
}
