ion-card {
  position: relative;
  width:100%;
  padding-bottom:100%;
  user-select: none;
  border: 1px solid black;
  margin: 0;
  border-radius: 3em ;
  background-color: var(--ion-color-inria-card);
  &.card-correction {
    border-radius: 1em;
    margin-bottom: 3vw;
  }
  &.correct {
    background: var(--ion-color-inria-correct-rgba60);
  }
  &.incorrect {
    background: var(--ion-color-inria-incorrect-rgba60);
  }
}

ion-card-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  ion-card-title {
    font-size: 6vw;
  }
}

ion-card-content {
  color: black;
  position: absolute;
  top: calc(50% + 7vw);
  left:50%;
  margin:0;
  padding:1em;
  width:calc(100% - 2em);
  transform: translate(-50%,-50%);
  font-size: 4vw;
  max-height: 80%;

  &.content-correction {
    color: black;
    position: absolute;
    top: 50%;
    left:50%;
    margin:0;
    padding: 3vw;
    width:calc(100% - 0.6em);
    transform: translate(-50%,-50%);
    font-size: 3vw;
  }
}
