<ion-card mode="ios"
          [ngClass]="{
          'card-correction': this.correct !== undefined,
          'correct': this.correct === true || this.solutionShown,
          'incorrect': this.correct === false && !this.solutionShown
          }"
          [@swipeAnimations]="animationState"
          (@swipeAnimations.done)="animationDone($event)"
          #card>
    <ion-card-header mode="ios" [hidden]="this.correct !== undefined">
      <ion-card-title mode="ios" [hidden]="this.correct !== undefined">
        {{selectedSide}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content mode="ios" [ngClass]="{'content-correction': this.correct !== undefined}">
        {{response.label.length > 100 ? response.label.slice(0, 100)+'...' : response.label}}
    </ion-card-content>

</ion-card>
