<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" color="inria-blue"></ion-back-button>
    </ion-buttons>
    <ion-title>Table of content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="epoc$ | async as epoc">
  <ng-container *ngIf="detailedToc">
    <ion-list *ngFor="let part of epoc.parts;">
      <ion-item *ngFor="let content of getContentsFromOutline(part.outline);" [class]="'level-' + content.toc" [routerLink]="'/player/play/'+epoc.id+'/content/'+content.id">
        <ion-icon *ngIf="content.type === 'html'" name="paper" slot="end"></ion-icon>
        <ion-icon *ngIf="content.type === 'video'" name="play" slot="end"></ion-icon>
        <ion-icon *ngIf="content.type === 'assessment'" name="checkbox-outline" slot="end"></ion-icon>
        <ion-label>{{content.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="!detailedToc">
    <div class="part" *ngFor="let part of epoc.parts;">
      <div class="part-header" *ngIf="epoc.parts.length > 1">
        <span>{{part.title}}</span>
      </div>
      <ion-slides [options]="sliderOptions" *ngIf="epoc.parts.length > 1">
        <ng-container *ngFor="let content of getContentsFromOutline(part.outline);">
          <ion-slide *ngIf="content.type === 'chapter'">
            <ion-card class="chapter" [routerLink]="'/player/play/'+epoc.id+'/content/'+content.id">
              <img [src]="content.image ? content.image : 'assets/img/placeholder.png'"/>
              <ion-card-content>
                <b>Chapter {{content.number}} : </b> {{content.name}}
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ng-container>
      </ion-slides>
      <ion-grid *ngIf="epoc.parts.length <= 1">
        <ion-row *ngFor="let content of getContentsFromOutline(part.outline);">
          <ng-container *ngIf="content.type === 'chapter'">
            <ion-card class="chapter" [routerLink]="'/player/play/'+epoc.id+'/content/'+content.id">
              <img [src]="content.image ? content.image : 'assets/img/placeholder.png'"/>
              <ion-card-content>
                <b>Chapter {{content.number}} : </b> {{content.name}}
              </ion-card-content>
            </ion-card>
          </ng-container>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
</ion-content>
