<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Table of content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="epoc$ | async as epoc">
  <ion-list *ngIf="toc">
    <ion-item *ngFor="let content of toc;" [class]="'level-' + content.toc" [routerLink]="'/player/play/'+epoc.id">
      <ion-icon *ngIf="content.type === 'html'" name="paper" slot="end"></ion-icon>
      <ion-icon *ngIf="content.type === 'video'" name="play" slot="end"></ion-icon>
      <ion-icon *ngIf="content.type === 'assessment'" name="checkbox-outline" slot="end"></ion-icon>
      <ion-label>{{content.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
