ion-title{
  font-size: 0.9em;
}

@for $i from 1 through 5 {
  .level-#{$i} {
    padding-left: ($i - 1) * 20px;
  }
}

.level-1 {
  font-weight: bold;
}

.chapters{
  &:last-child{
    margin-bottom: 0;
  }
}

ion-slides{
  padding: 0 1em 1em 1em;

  ion-card{
    flex-grow: 1;
    margin: 0;
  }

  ion-slide{
    flex-direction: column;
    height:auto;
  }
}

ion-col{
  margin-bottom: 15px;
}

.chapter{
  height: 100%;
  text-align: center;
  border-radius: 10px;

  img{
    display: block;
    width:100%;
    height: auto;
    border: 2px solid var(--ion-color-inria-blue);
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
  }
}

ion-card.chapter{
  margin: 1em;
  background: white;

  img{
    border-radius: 10px 10px 0 0;
  }
}

ion-grid{
  ion-row{
    ion-card.chapter{
      margin:0.5em;
    }
  }
}

ion-card-content {
  text-transform: capitalize;
}
