<div class="assessment-specs">
  <div class="assessment-spec">
    <div class="assessment-spec-icon"><ion-icon aria-hidden="true" name="school"></ion-icon></div>
    <div class="assessment-spec-value" *ngIf="content.scoreTotal > 0">{{'PLAYER.ASSESSMENT_COMPONENT.GRADED' | translate}}</div>
    <div class="assessment-spec-value" *ngIf="content.scoreTotal <= 0">{{'PLAYER.ASSESSMENT_COMPONENT.NOT_GRADED' | translate}}</div>
  </div>
  <div class="assessment-spec">
    <div class="assessment-spec-icon"><ion-icon aria-hidden="true" name="help"></ion-icon></div>
    <div class="assessment-spec-value">{{content.questions.length}} {{content.questions.length >1 ? "questions": "question"}}</div>
  </div>
</div>
<p>{{content.summary}}</p>
<div>
  <ion-button expand="block" size="large" fill="outline" color="outline-button" [routerLink]="['/epoc/assessment', epocId, content.id]">
    <span *ngIf="!userAssessment">
      {{'PLAYER.ASSESSMENT_COMPONENT.START' | translate}}
    </span>
    <span *ngIf="userAssessment">
      {{'PLAYER.ASSESSMENT_COMPONENT.REDO' | translate}}
    </span>
  </ion-button>
</div>
