.statement{
  margin: 2rem 0;
  text-align: center;
  b{
    line-height: 1;
  }
}

.choices{
  button{
    display: block;
    width:100%;
    margin-top: 1em;
    padding: 1em;
    background: #fefefe;
    font-weight: bold;
    color:var(--ion-color-inria-blue);
    border-radius: 4px;
    border: 1px solid var(--ion-color-inria-blue);

    &.selected{
      color:white;
      background: var(--ion-color-inria-blue);
    }
  }
}
