<ion-content [scrollY]="false" *ngIf="assessment">
    <div class="slider-wrapper" slot="fixed">
        <ion-slides class="slider" #questionSlides [options]="slidesOptions">
            <div class="close" *ngIf="!explanationShown" (click)="back($event)">
                <ion-icon name="close-outline"></ion-icon>
            </div>
            <ng-container *ngFor="let question of assessment.questions | denormalize:epoc.questions; let questionIndex = index;">
                <ion-slide>
                    <common-question [subtitle]="'Question '+(questionIndex+1)+'/'+assessment.questions.length" [contentId]="assessment.id"
                         [epocId]="epocId" [question]="question" (userHasResponded)="onUserHasResponded($event)" *ngIf="!isEnd">
                    </common-question>
                </ion-slide>
            </ng-container>
            <ion-slide class="assessment-end">
                <app-card *ngIf="assessmentData">
                    <div class="title-container">
                        <div class="title-icon">
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <h5 class="title" *ngIf="scoreMax > 0">Vous obtenez</h5>
                        <h5 class="title" *ngIf="scoreMax <= 0">Activité non noté</h5>
                    </div>
                    <div class="score" *ngIf="scoreMax > 0">
                        <div class="score-points">
                            <div class="score-points-assessment">{{assessmentData.userScore}} pts</div>
                            <div class="score-points-total">
                                <b>Score total :</b>
                                {{assessmentData.totalUserScore + assessmentData.userScore}} / {{assessmentData.totalScore}}
                            </div>
                        </div>
                        <div class="score-chart">
                            <score-progress [progress]="assessmentData.totalUserScore / assessmentData.totalScore * 100"
                                            [delta]="assessmentData.userScore / assessmentData.totalScore * 100"
                                            [threshold]="epoc.certificateScore / assessmentData.totalScore * 100"
                                            [minLabel]="'0'"
                                            [maxLabel]="assessmentData.totalScore + 'pts'"></score-progress>
                        </div>
                    </div>
                    <ion-button size="large" expand="block" color="inria" fill="outline" (click)="retry()">
                        <span>Recommencer l'activité</span>
                    </ion-button>
                </app-card>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="certificate-container" *ngIf="certificateShown">
        <ion-card class="certificate-success-card">
            <ion-card-header class="certificate-success-card-header">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-card-header>
            <ion-card-content class="certificate-success-card-content">
                <ion-card-title>Félicitations</ion-card-title>
                <p>Vous avez atteint le score nécéssaire à l'obtention de l'attestation. Vous pouvez générer
                    l'attestation maintenant ou continuer pour augmenter votre score.</p>
                <ion-button (click)="goToCertificate()">Obtenir l'attestation</ion-button>
                <ion-button (click)="dismissCertificateCard()" color="medium">Continuer</ion-button>
                <p><small>(Vous trouverez l'attestation dans la page des scores)</small></p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer *ngIf="!isEnd">
    <ion-button size="large" expand="block" color="inria" [disabled]="!currentQuestionUserResponse" (click)="checkAnswer();" *ngIf="!explanationShown">
        <span>Valider</span>
    </ion-button>
    <ion-button size="large" expand="block" color="inria" (click)="nextQuestion()" *ngIf="explanationShown">
        <span>Compris, suivant !</span>
    </ion-button>
</ion-footer>
<ion-footer *ngIf="isEnd">
    <ion-button size="large" expand="block" color="inria" (click)="resume()">
        <span>Continuer le cours</span>
    </ion-button>
</ion-footer>
