<ion-content [scrollY]="false" *ngIf="assessment">
    <div class="slider-wrapper assessment-reader" slot="fixed" tabindex="1">
        <ion-slides class="slider" #questionSlides [options]="slidesOptions">
            <ng-container *ngFor="let question of assessment.questions | denormalize:epoc.questions; let questionIndex = index;">
                <ion-slide>
                    <common-question [attr.aria-hidden]="questionIndex !== currentQuestion" closable="true" [subtitle]="'Question '+(questionIndex+1)+'/'+assessment.questions.length" [contentId]="assessment.id"
                         [epocId]="epocId" [question]="question" (userHasResponded)="onUserHasResponded($event)" (close)="back()" (explanationToggle)="onExplanationToggle($event)" *ngIf="!isEnd">
                    </common-question>
                </ion-slide>
            </ng-container>
            <ion-slide class="assessment-end">
                <app-card *ngIf="assessmentData">
                    <div class="title-container">
                        <div class="title-icon">
                            <ion-icon aria-hidden="true" name="star-outline"></ion-icon>
                        </div>
                        <h5 class="title" *ngIf="scoreMax > 0">Vous obtenez</h5>
                        <h5 class="title" *ngIf="scoreMax <= 0">Activité non noté</h5>
                    </div>
                    <div class="score" *ngIf="scoreMax > 0">
                        <div class="score-points">
                            <div class="score-points-assessment">{{assessmentData.userScore}} pts</div>
                            <div class="score-points-total">
                                <b>Score total :</b>
                                {{assessmentData.totalUserScore + assessmentData.userScore}} / {{assessmentData.totalScore}}
                            </div>
                        </div>
                        <div aria-hidden="true" class="score-chart">
                            <score-progress [progress]="assessmentData.totalUserScore / assessmentData.totalScore * 100"
                                            [delta]="assessmentData.userScore / assessmentData.totalScore * 100"
                                            [threshold]="epoc.certificateScore / assessmentData.totalScore * 100"
                                            [minLabel]="'0'"
                                            [maxLabel]="assessmentData.totalScore"></score-progress>
                        </div>
                    </div>
                    <ion-button size="large" expand="block" color="outline-button" fill="outline" (click)="retry()">
                        <span>Recommencer l'activité</span>
                    </ion-button>
                </app-card>
            </ion-slide>
        </ion-slides>
    </div>
    <certificate-modal [epocId]="epocId" [certificateShown]="certificateShown"></certificate-modal>
</ion-content>

<ion-footer *ngIf="!isEnd">
    <ion-button size="large" expand="block" color="inria" [disabled]="!currentQuestionUserResponse" (click)="checkAnswer();" *ngIf="!correctionShown">
        <span>Valider</span>
    </ion-button>
    <div class="next-buttons">
        <ion-button size="large" color="inria" (click)="toggleExplanation()" *ngIf="correctionShown">
            <span *ngIf="!explanationShown">Explications</span>
            <span *ngIf="explanationShown">Réponses</span>
        </ion-button>
        <ion-button role="button" color="inria-grey" size="large" (click)="nextQuestion()" *ngIf="correctionShown">
            <span>Suivant</span>
            <ion-icon aria-hidden="true" name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
    </div>
</ion-footer>
<ion-footer *ngIf="isEnd">
    <ion-button role="button" size="large" expand="block" color="inria" (click)="resume()">
        <span>Continuer le cours</span>
    </ion-button>
</ion-footer>
