.visualizer{
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

canvas{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

  img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
  }
}

.play-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(var(--ion-color-inria-blue-rgb), 0.2);
  z-index: 1;
  font-size: 4rem;

  ion-icon, ion-spinner{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
}

.audio-actions{
  display: flex;
  font-size: 25px;
  justify-content: center;
  padding: 10px 16px;

  &-center{
    display: flex;
    text-align: center;
  }

  .audio-action {
    position: relative;
    display: block;
    width:30px;
    height:30px;
    margin: 0 5px;
    padding: 0;
    border-radius: 5px;
    background: var(--ion-color-contrast);
    color: var(--ion-color-inria);
    text-align: center;
    line-height: 35px;
    font-size: .8rem;

    ion-icon {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.audio-timeline{
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  height: 10px;
  z-index: 2;


  &:before{
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height: 3px;
    background: rgba(var(--ion-color-inria-light-rgb), 0.5);
  }

  &-progress{
    position: absolute;
    bottom: 0;
    left:0;
    height: 3px;
    background: var(--ion-color-inria);
  }

  &-cursor{
    position: absolute;
    top: calc(50% + 3.5px);
    padding: 8px;
    z-index: 10;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    opacity: 0;

    &:before{
      content:'';
      display: block;
      width: 13px;
      height:13px;
      border-radius: 50%;
      background: white;
      border: 1px solid var(--ion-color-light-shade);
    }
  }
}