video-player{
  position: relative;
  display: block;
  left: -1rem;
  width: calc(100% + 2rem);
}

h4{
  margin-top: 0;
  padding: .5em 0 .25em 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--ion-color-inria);
  border-bottom: 1px solid var(--ion-color-inria-light);
}
