body {
  font-size: 1rem;
  color: #384257;
  font-family: sans-serif;

  height: 100%;
}

input {
  background: #F4F7FB;
  color: #384257;
  font-size: 1rem;

  border: 1px solid #D0D2D7;
  border-radius: 6px;
  padding: .5rem .7rem;
  margin-bottom: 1rem;
}

input::placeholder {
  color: #8C9AB9;
}

button {
  border: 1px solid #e63312;
  color: #e63312;
  background: white;
  border-radius: 22px;
  padding: .5rem .7rem;
  text-align: center;

  transition: all .3s;
}

button:active {
  background: #e63312;
  color: white;
}