<ng-container  *ngIf="correction">
  <h4>Vous avez répondu</h4>
  <ion-item lines="none" *ngFor="let response of correction">
    <div class="correction-icon correct" *ngIf="response.correct"><ion-icon aria-hidden="true" name="checkmark-outline"></ion-icon></div>
    <div class="correction-icon incorrect" *ngIf="!response.correct"><ion-icon aria-hidden="true" name="close-outline"></ion-icon></div>
    <ion-label class="ion-text-wrap" color="inria-icon">
      {{response.userResponseLabel}}
      <div class="correction-right" *ngIf="response.correct">C'est une bonne réponse !</div>
      <div class="correction-wrong" *ngIf="!response.correct">C'est faux !</div>
      <div class="correction-right-answer" *ngIf="!response.correct">
        <b>Bonne réponse : </b><span>{{response.correctResponse}}</span>
      </div>
    </ion-label>
  </ion-item>
</ng-container>
