<ion-header>
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="openFile()" data-desc="Open Epoc"><ion-icon name="document"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openLink()" data-desc="Download Epoc"><ion-icon name="link"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
