<p class="swipe-instruction" *ngIf="!disabled">
  <ng-container *ngIf="question.statement">
    <span class="custom" *ngIf="!disabled" [innerHTML]="question.statement | nbsp | srcConvert | safe:'html'"></span>
  </ng-container>
  <ng-container *ngIf="!question.statement">
    <ion-icon aria-hidden="true" src="/assets/icon/glisser2.svg"></ion-icon>
    <span>{{"QUESTION.SWIPE.INSTRUCTION" | translate}}</span>
  </ng-container>
</p>
<div class="swipe-cards">
  <div class="swipe-card" *ngFor ="let card of cardsRemaining; index as cardIndex" [ngStyle]="{transform: card.transform}"
       [@swipeAnimations]="{value: card.animationState, params: {transform: card.transform}}"
       (@swipeAnimations.done)="animationDone($event)" #swipeCards>
    <div class="swipe-card-choice" *ngIf="card.selectedSide">
      {{card.selectedSide}}
    </div>
    <div [attr.aria-hidden]="cardsRemaining.length-1 !== cardIndex" class="swipe-card-content">
      <ion-icon aria-hidden="true" src="/assets/icon/citation.svg"></ion-icon>
      <div>« {{card.label}} »</div>
    </div>
  </div>
  <div *ngIf="cardsRemaining.length <= 0">{{'QUESTION.SWIPE.FINISH' | translate}}</div>
</div>
<ion-range class="progress-indicator" disabled="true" mode="md" step="1" min="0"
           [max]="question.responses.length" [value]="question.responses.length - cardsRemaining.length" snaps="true"></ion-range>

<div class="swipe-actions">
  <div [attr.aria-hidden]="cardsRemaining.length < 1" role="button" class="swipe-action" (click)="swipe('swipeLeft')" [ngClass]="{'hidden' : this.cardsRemaining.length <= 0 || this.undoDisabled}">
    <ion-icon aria-hidden="true" class="swipe-right" src="/assets/icon/gauche.svg"></ion-icon>
    <span>{{sides[1]}}</span>
  </div>
  <div [attr.aria-hidden]="cardsSorted.length < 1" aria-roledescription="Retour" role="button" class="swipe-action small" [ngClass]="{'hidden' : this.cardsSorted.length <= 0 || this.undoDisabled}" (click)="this.undo()">
    <ion-icon aria-hidden="true" src="/assets/icon/annuler.svg"></ion-icon>
  </div>
  <div [attr.aria-hidden]="cardsRemaining.length < 1" role="button" class="swipe-action" (click)="swipe('swipeRight')" [ngClass]="{'hidden' : this.cardsRemaining.length <= 0 || this.undoDisabled}">
    <ion-icon aria-hidden="true" src="/assets/icon/droite.svg"></ion-icon>
    <span>{{sides[0]}}</span>
  </div>
</div>
