<div class="swipe-cards" *ngIf="cardsRemaining.length !==0">
  <swipe-card *ngFor ="let card of cardsRemaining"
              [@undoAnimations]="animationState"
              [possibilities] = "this.question.possibilities"
              [response] = "card"
              [disabled] = "false"
              [selectedSide]="'?'"
              (onSelectSide)="onSelectSide($event)"
              (onAnimationRunning)="onAnimation($event)"
  >
  </swipe-card>
</div>

<div class="informatif" [hidden]="this.cardsRemaining.length !== 0">
  <p>Cliquez sur valider pour confirmer vos réponses et accéder à la correction.</p>
</div>

<ion-button mode="ios" class="undo"
            [ngClass]="this.cardsSorted.length <= 0?'hidden':''"
            [disabled]="this.cardsSorted.length <= 0 || this.undoDisabled"
            (click)="this.undo()">
  <ion-icon name="arrow-undo-outline"></ion-icon>
  <p>Annuler</p>
</ion-button>
