<ng-container  *ngIf="correction">
  <div class="correction-specs">
    <div class="correction-spec">
      <div class="correction-spec-icon"><ion-icon aria-hidden="true" name="checkmark-outline"></ion-icon></div>
      <div class="correction-spec-value">{{rightResponses}} {{'QUESTION.CORRECTION.CORRECT_ANSWERS' | plural:rightResponses | translate}}</div>
    </div>
    <div class="correction-spec">
      <div class="correction-spec-icon"><ion-icon aria-hidden="true" name="close-outline"></ion-icon></div>
      <div class="correction-spec-value">{{wrongResponses}} {{'QUESTION.CORRECTION.WRONG_ANSWERS' | plural:wrongResponses | translate}}</div>
    </div>
  </div>
  <h4>{{'QUESTION.CORRECTION.RESPONDED' | translate}}</h4>
  <div class="item" *ngFor="let response of correction; let index = index;">
    <span class="item-index">{{index+1}}</span>
    <ion-item lines="none">
      <div class="correction-icon correct" *ngIf="response.correct"><ion-icon aria-hidden="true" name="checkmark-outline"></ion-icon></div>
      <div class="correction-icon incorrect" *ngIf="!response.correct"><ion-icon aria-hidden="true" name="close-outline"></ion-icon></div>
      <ion-label class="ion-text-wrap" color="inria-blue">
        {{response.label}}
        <div class="correction-right" *ngIf="response.correct">{{'QUESTION.CORRECTION.TRUE' | translate}}</div>
        <div class="correction-wrong" *ngIf="!response.correct">{{'QUESTION.CORRECTION.FALSE' | translate}}</div>
        <div class="correction-right-answer" *ngIf="!response.correct">
          <b>{{'QUESTION.CORRECTION.CORRECT' | translate}}</b><span>{{response.correctResponse}}</span>
          {{response.feedback}}
        </div>
        <details [open]="!response.correct" *ngIf="response.feedback">
          <summary>{{'QUESTION.PREVIEW.EXPLANATION' | translate}} <ion-icon name="chevron-down-outline"></ion-icon></summary>
          <div>{{response.feedback}}</div>
        </details>
      </ion-label>
    </ion-item>
  </div>
  <ng-container>
    <h4>{{'QUESTION.CORRECTION.CORRECT_RANKING' | translate}}</h4>
    <div class="item" *ngFor="let response of question.responses; let index = index;">
      <span class="item-index correct">{{index+1}}</span>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{response.label}}</ion-label>
        <ion-reorder slot="end">
          <ion-icon aria-hidden="true" src="/assets/icon/slider.svg"></ion-icon>
        </ion-reorder>
      </ion-item>
    </div>
  </ng-container>
</ng-container>
