ion-content ion-toolbar {
  margin: 1em 0;
  --border-width: 0 !important;

  .logo {
    width: 100px;
    margin: 0 1em;

    ion-img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.about-content-wrapper{
  padding: 1em;
  color: var(--ion-color-inria-blue);
}

.authors{
  text-align: center;

  p{
    font-size: 0.8em;
    text-align: center;
  }

  img{
    width:100px;
    height:auto;
    border: 2px solid  var(--ion-color-inria-blue);
    border-radius: 100%;
  }
}
