<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home" color="inria-blue"></ion-back-button>
    </ion-buttons>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-content-wrapper">
    <div class="about-header">
      <div class="logo" slot="start">
        <ion-img src="assets/img/ePoc.svg"></ion-img>
      </div>
      <div class="logo" slot="end">
        <ion-img src="assets/img/logo-ill.png"></ion-img>
      </div>
    </div>
    <div class="about-text">
      <h4>L'application ePoc</h4>
      <p>
        ePoc (Electronic Pocket Open Course) est une application de formation numérique pour mobile.
        Elle a été développée au sein du <a href="https://learninglab.inria.fr" target="_blank" title="Site du Learning Lab Inria">Learning Lab Inria</a>.
      </p>
    </div>
    <div class="about-data">
      <h4>Les données personnelles</h4>
      <p>Aucune donnée personnelle n'est collectée.</p>
      <h4>Analytics</h4>
      <p>
        Nous utilisons Matomo, un logiciel libre et open source de mesure de statistiques, préconisé par la CNIL.
      </p>
      <p>
        Ces analytiques sont utilisés uniquement à des fins de recherche interne sur la manière dont nous
        pouvons améliorer le service que nous offrons à tous nos utilisateurs.
      </p>
      <p>
        Ils permettent simplement d’évaluer la manière dont vous interagissez avec notre applications en tant qu’<b>utilisateur anonyme</b>
        (les données recueillies ne permettent pas de vous identifier personnellement).
      </p>
    </div>
    <div class="about-contact">
      <h4>Contact</h4>
      <p>
        Vous avez une question ? Vous pouvez nous contacter à l'adresse suivante : <br/>
        <a href="mailto:ill-epoc-contact@inria.fr" title="Contact Inria Learning Lab">ill-ePoc-contact@inria.fr</a>
      </p>
      <p>
        Délégué à la protection des données : <br/>
        <a href="mailto:dpo@inria.fr" title="Contact Délégué à la protection des données">dpo@inria.fr</a>
      </p>
    </div>
  </div>
</ion-content>
