<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>ePoc Reader</h1>
        <div>
          Electronic Pocket Open Course Reader
        </div>
        <div>
          <ion-img src="/assets/icon/favicon.png"></ion-img>
        </div>

        <div class="version">
          <small>Version 0.2</small><br/>
          <small>Decembre 2019</small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
