.about-header {
  display: flex;
  margin: 1em 0;

  .logo {
    width: 35%;
    max-width: 150px;
    margin: 0 1em;

    ion-img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.about-content-wrapper{
  padding: 1em;
  color: var(--ion-color-inria-blue);

  h4{
    margin-top: 0;
    padding: .5em 0;
    font-size: 1rem;
    color: var(--ion-color-inria);
    border-bottom: 1px solid var(--ion-color-inria-light);
  }
}

a{
  color: var(--ion-color-inria);
}
