<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" color="inria-blue"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <div class="logo" slot="start">
      <ion-img src="assets/img/ePoc.svg"></ion-img>
    </div>
    <div class="logo" slot="end">
      <ion-img src="assets/img/logo-ill.png"></ion-img>
    </div>
  </ion-toolbar>
  <div class="about-content-wrapper">
    <h4>Le projet ePoc</h4>
    <p>
      Les ePoc (Electronic Pocket Open Cours) sont des formations numériques
      développées au sein d'<a href="https://learninglab.inria.fr" target="_blank" title="Inria Learning Lab">Inria Learning Lab</a>.
    </p>

    <h4>Nous contacter</h4>

    <ion-grid class="authors">
      <ion-row>
        <ion-col size="6">
          <img src="/assets/team/benoit.jpg" />
          <p>
            Développeur<br/>
            Inria Learning Lab<br/>
            Benoit Rospars
          </p>
        </ion-col>
        <ion-col size="6">
          <img src="/assets/team/jean-marc.jpg" />
          <p>
            Responsable<br/>
            Inria Learning Lab<br/>
            Jean-Marc Hasenfratz
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a href="mailto:ill-mooc-contact@inria.fr" title="Contact Inria Learning Lab">ill-mooc-contact@inria.fr</a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4>Vie privée</h4>
    <p>Aucune donnée personnelle n'est collectée. Seules des statistiques de fréquentation
    pour un usage exclusif à Inria Learning Lab à des fins de calcul d'audience.</p>
  </div>
</ion-content>
