<ion-card mode="ios" class="question-card">
  <ion-card-header mode="ios">
    <ion-card-subtitle mode="ios">Question {{questionMeta.index}}/{{questionMeta.total}}</ion-card-subtitle>
    <div class="statement">
      <p>{{question.statement}}</p>
      <ion-card-title mode="ios">
        <div>{{question.label}}</div>
      </ion-card-title>
    </div>
  </ion-card-header>
  <ion-card-content mode="ios">
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <ion-item *ngFor="let response of responses">
        <ion-label class="ion-text-wrap">{{response.label}}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-card-content>
</ion-card>
