.nbCorrect {
  margin-top: 0;
  height: 20px;
  color: var(--ion-color-inria-blue);
}

.correct {
  --background: var(--ion-color-inria-correct-rgba60);
  border-radius: 0.5em;
}

.incorrect {
  --background: var(--ion-color-inria-incorrect-rgba60);
  border-radius: 0.5em;
}

.item {
  margin-bottom: 0.2em;
}
