<ion-content>
    <div class="reader" slot="fixed" [ngStyle]="readerStyles" tabindex="-1">
        <ion-spinner *ngIf="!dataInitialized"></ion-spinner>
        <ng-container *ngIf="dataInitialized">
            <common-content [title]="content.title" [subtitle]="content.subtitle" [icon]="iconFromType[content.type]" *ngIf="content.type !== 'simple-question'">
                <html-content *ngIf="content.type === 'html'" [html]="content.html | srcConvert"></html-content>
                <video-content *ngIf="content.type === 'video'" [inputContent]="content"></video-content>
                <audio-content *ngIf="content.type === 'audio'" [inputContent]="content"></audio-content>
                <course-choice *ngIf="content.type === 'choice'" [epocId]="epoc.id" [content]="content"></course-choice>
                <assessment-content *ngIf="content.type === 'assessment'" [inputContent]="content"></assessment-content>
            </common-content>
        </ng-container>
    </div>
</ion-content>
