<div class="header" >
  <p>{{selectHeader}}</p>
  <ion-progress-bar [hidden]="this.correctionState" [value]="this.cardsSorted.length/(this.cardsRemaining.length + this.cardsSorted.length)"></ion-progress-bar>
</div>


<div class="swipe-cards" *ngIf="cardsRemaining.length !==0">
  <swipe-card *ngFor ="let card of cardsRemaining"
              [@undoAnimations]="animationState"
              [possibilities] = "this.question.possibilities"
              [response] = "card"
              [disabled] = "false"
              [selectedSide]="'?'"
              (onSelectSide)="onSelectSide($event)"
              (onAnimationRunning)="onAnimation($event)"
  >
  </swipe-card>
</div>

<div class = "correction" *ngIf="this.correctionState">
  <div class="left">
    <span class="leftTitle">{{this.question.possibilities[0]}}</span>
    <swipe-card *ngFor ="let card of cardsSortedToLeft"
                [possibilities] = "this.question.possibilities"
                [response] = "card.response"
                [disabled] = "true"
                [selectedSide]="this.question.possibilities[0]"
                [correct]="card.correct"
                [solutionShown]="solutionShown"
                (click)="card.response.explanation && !this.solutionShown ? this.openPopUp($event, card): ''"
    >
    </swipe-card>
  </div>
  <div class="right">
    <span class="rightTitle">{{this.question.possibilities[1]}}</span>
    <swipe-card *ngFor ="let card of cardsSortedToRight"
                [possibilities] = "this.question.possibilities"
                [response] = "card.response"
                [disabled] = "true"
                [selectedSide]="this.question.possibilities[1]"
                [correct]="card.correct"
                [solutionShown]="solutionShown"
                (click)="card.response.explanation && !this.solutionShown ? this.openPopUp($event, card): ''"
    >
    </swipe-card>
  </div>
</div>

<div class="informatif" [hidden]="this.correctionState || this.cardsRemaining.length !== 0">
  <p>Cliquez sur valider pour confirmer vos réponses et accéder à la correction.</p>
</div>

<ion-button mode="ios" class="undo"
            [ngClass]="this.cardsSorted.length <= 0?'hidden':''"
            [hidden]="this.correctionState"
            [disabled]="this.cardsSorted.length <= 0 || this.undoDisabled"
            (click)="this.undo()">
  <ion-icon name="arrow-undo-outline"></ion-icon>
  <p>Annuler</p>
</ion-button>
