.header {
  height:15%;
  margin-bottom: 5%;
}

.header p {
  margin-top: 0;
  color: var(--ion-color-inria-blue);
}

.header h2 {
  margin-top: 0;
  color: var(--vjs-theme-forest--secondary);
}

.header ion-progress-bar {
  color: #b5dcdc;
}

.undo {
  align-self: center;
  min-width: 153px;
  &.hidden {
    opacity: 0;
  }
}

.swipe-cards {
  flex: 1;
  position:relative;
  width: 100%;
  padding-bottom: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.swipe-cards swipe-card {
  position: absolute;
  top: 50%;
  left:50%;
  margin:0;
  width: 90%;
  transform: translate(-50%,-50%);
}

/*
.swipe-cards swipe-card:nth-last-child(2):before {
  content:'';
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid black;
  border-radius: 3em ;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: var(--ion-color-inria-card);
  position: absolute;
  transform: rotate(5deg);
}

.swipe-cards swipe-card:nth-last-child(3):before {
  content:'';
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid black;
  border-radius: 3em ;
  height: 100%;
  width: 100%;
  margin: auto;
  background: var(--ion-color-inria-card);
  position: absolute;
  transform: rotate(-5deg);
}
*/
.informatif {
  display: flex;
  height: 60%;
  flex: 1;
  margin: auto;
  font-size: 0.8em;
  font-style: italic;
}

.informatif p {
  margin: auto;
}

.correction {
  display: flex;
  flex-direction: row;
  .left {
    flex: 1;
    width: calc(50% - 4vw);
    margin: 0 2vw 0 2vw;
    .leftTitle {
      background: var(--ion-color-inria-card-left);
      border-radius: 10px;
      min-height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 150px;
      margin-bottom: 3vw;
    }
  }
  .right {
    flex: 1;
    width: calc(50% - 0.4em);

    .rightTitle {
      background: var(--ion-color-inria-card-right);
      border-radius: 10px;
      min-height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 150px;
      margin-bottom: 3vw;
    }
  }
}
