.header {
  height:15%;
  margin-bottom: 5%;
}

.header p {
  margin-top: 0;
  color: var(--ion-color-inria-blue);
}

.header h2 {
  margin-top: 0;
  color: var(--vjs-theme-forest--secondary);
}

.header ion-progress-bar {
  color: #b5dcdc;
}

.undo {
  align-self: center;
  min-width: 153px;
  &.hidden {
    opacity: 0;
  }
}

.swipe-cards {
  flex: 1;
  position:relative;
  margin-bottom: 5%;
  width: 90%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.swipe-cards swipe-card {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 3;
  height: 14em;
  max-width: 12em;

  // Iphone 5
  @media screen and (device-aspect-ratio: 40/71) {
    transform: scale(0.7);
  }

  // Iphone X
  @media only screen
  and (device-width : 375px)
  and (device-height : 812px)
  and (-webkit-device-pixel-ratio : 3) {
    transform: scale(1.3);
  }
  // Ipad
  @media ( min-width : 720px ) {
    transform: scale(2);
  }
}

.swipe-cards swipe-card:nth-last-child(2):before {
  content:'';
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid black;
  border-radius: 3em ;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: var(--ion-color-inria-card);
  position: absolute;
  transform: rotate(5deg);
}

.swipe-cards swipe-card:nth-last-child(3):before {
  content:'';
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid black;
  border-radius: 3em ;
  height: 100%;
  width: 100%;
  margin: auto;
  background: var(--ion-color-inria-card);
  position: absolute;
  transform: rotate(-5deg);
}

.informatif {
  display: flex;
  height: 60%;
  flex: 1;
  margin: auto;
  font-size: 0.8em;
  font-style: italic;
}

.informatif p {
  margin: auto;
}

.correction {
  display: flex;
  flex-direction: row;
  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(50% - 0.4em);
    align-items: center;
    .leftTitle {
      background: var(--ion-color-inria-card-left);
      border-radius: 10px;
      min-height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0.2em;
      width: 100%;
      max-width: 150px;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(50% - 0.4em);
    align-items: center;

    .rightTitle {
      background: var(--ion-color-inria-card-right);
      border-radius: 10px;
      min-height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0.2em;
      width: 100%;
      max-width: 150px;

    }
  }
  swipe-card {
    height: 10em;
    max-width: 150px;
    margin: 0.2em;
  }
}
