<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" defaultHref="tabs/tab1" color="inria-blue"></ion-back-button>
    </ion-buttons>
    <ion-title>Score total</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="assessmentData">
    <ion-row>
      <ion-col class="total-score">
        <h2>Votre score</h2>
        <b>{{assessmentData.totalUserScore}} pts</b>
        <score-progress [progress]="assessmentData.totalUserScore / assessmentData.totalScore * 100"
                        [threshold]="epoc.certificateScore / assessmentData.totalScore * 100"></score-progress>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [color]="assessmentData.totalUserScore >= epoc.certificateScore ? 'success':'medium'" expand="block" (click)="getCertificate()">Télécharger l'attestation <ion-icon name="download" slot="end"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="epoc$ | async as epoc">
        <b>Accès rapide :</b>
        <ng-container *ngFor="let assessment of assessments">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>
                {{assessment.name}}
                <ion-text class="score" [color]="getScore(assessment) < getScoreTotal(assessment) ? 'warning':'success'" *ngIf="getScoreTotal(assessment) > 0">
                  {{getScore(assessment) ? getScore(assessment) : 0}}/{{getScoreTotal(assessment)}}
                </ion-text>
              </ion-card-subtitle>
              <ng-container *ngIf="assessment.type === 'assessment'">
                <assessment-button [content]="assessment" [epoc]="epoc"></assessment-button>
              </ng-container>
              <ng-container *ngIf="assessment.type === 'simple-question'">
                <ion-button expand="block" strong="true" [routerLink]="'/player/play/'+epoc.id+'/'+assessment.chapterId+'/content/'+assessment.id">Voir la question</ion-button>
              </ng-container>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
