<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <canvas #chart></canvas>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="epoc$ | async as epoc">
        <b>Accès rapide :</b>
        <ng-container *ngFor="let assessment of assessments">
          <assessment-button [content]="assessment" [epoc]="epoc"></assessment-button>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
