<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" color="inria-blue"></ion-back-button>
    </ion-buttons>
    <ion-title>Score total</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="assessmentData">
    <ion-row>
      <ion-col class="total-score">
        <h2>Votre score</h2>
        <b>{{assessmentData.totalUserScore}} pts</b>
        <score-progress [progress]="assessmentData.totalUserScore / assessmentData.totalScore * 100"
                        [threshold]="epoc.certificateScore / assessmentData.totalScore * 100"></score-progress>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [color]="assessmentData.totalUserScore >= epoc.certificateScore ? 'success':'medium'" expand="block" (click)="getCertificate()">Télécharger l'attestation <ion-icon name="download" slot="end"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="epoc$ | async as epoc">
        <ion-list>
          <ion-list-header mode="ios">Accès rapide :</ion-list-header>
          <ng-container *ngFor="let assessment of assessments">
            <ion-item mode="ios" [routerLink]="'/player/play/'+epoc.id+'/'+assessment.chapterId+'/content/'+assessment.id">
              <ion-label>{{assessment.title}}</ion-label>
              <ion-note [color]="getScore(assessment) < getScoreTotal(assessment) ? 'warning':'success'" *ngIf="getScoreTotal(assessment) > 0">
                {{getScore(assessment) ? getScore(assessment) : 0}}/{{getScoreTotal(assessment)}}
              </ion-note>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
