ion-card {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 1em;
  user-select: none;
  border: 1px solid black;
  border-radius: 1em ;
  height: 70%;
  width: 80%;
  position: absolute;
}

ion-header {
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
  text-align: center;
}

ion-content {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}
