ion-card {
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid black;
  border-radius: 3em ;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #E6F4F4;
}

ion-header {
  height: 20%;
  font-weight: bold;
  text-align: center;
}

ion-content {
  height:80%;
  flex: 1;
  text-align: center;
}
