ion-card {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 1em;
  user-select: none;
  border: 1px solid black;
  border-radius: 1em ;
  width: 60%;
}

#header {
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
  text-align: center;
}

#content {
  height: 15em;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}
