<ion-card [@swipeAnimations]="animationState" (@swipeAnimations.done)="animationDone($event)" #card >
    <ion-card-header>
      <ion-card-title [ngClass]="{'title-correction': this.check}">
        {{selectedSide}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content [ngClass]="{'content-correction': this.check}"
    >
      {{response.label}}
    </ion-card-content>
    <div class="correction" *ngIf="check">
        <ion-icon [ngClass]="{'icon-correction': this.check}" name="checkmark-circle-outline" color="success" *ngIf="this.correct"></ion-icon>
        <ion-icon [ngClass]="{'icon-correction': this.check}" name="close-outline" color="danger" *ngIf="!this.correct"></ion-icon>
    </div>
</ion-card>
