<div class="progress-container">
  <div class="progress-track">
    <div class="progress" [ngStyle]="{'width': progress + '%'}"></div>
    <div class="progress-delta" [ngStyle]="{'left': progress + '%', 'width': currentDelta + '%'}"></div>
  </div>
  <div class="progress-threshold" [ngStyle]="{'left': 'calc(' + threshold + '% - 0.9rem)'}" *ngIf="threshold < 100">
    <div class="progress-threshold-label">
      {{'QUESTION.CERTIFICATE' | translate}}<br/>
      {{thresholdPoints}} {{'PLAYER.SCORE.PTS' | translate}}
    </div>
    <ion-icon src="/assets/icon/badge.svg"></ion-icon>
  </div>
  <div class="progress-labels">
    <div class="progress-min">{{minLabel}}</div>
    <div class="progress-max">{{maxLabel}}</div>
  </div>
</div>
