.progress-container{
  padding: 20px 10px;
}

.progress-track{
  position: relative;
  width:100%;
  height: 50px;
  background: var(--ion-color-inria-grey);
  border: 2px solid #333;
  border-radius: 2px;
}

.progress{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  background: var(--ion-color-primary);
}

.progress-delta{
  position: absolute;
  top:0;
  bottom: 0;
  left: 60%;
  width:0;
  background: var(--ion-color-success);
  transition: width 2s ease-in-out;
}

.progress-threshold{
  position: absolute;
  top:-10px;
  bottom: -15px;
  border-left: 2px dashed var(--ion-color-warning);

  &-label {
    position: absolute;
    top:-2px;
    right: calc(100% + 5px);
    line-height: 1;
    font-size: 10px;
    color: var(--ion-color-warning)
  }
}

.progress-labels{
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: var(--ion-color-medium);
  justify-content: space-between;

  .progress-min{
  }

  .progress-max{
    text-align: right;
  }
}


