ion-toolbar {
  margin: 1em 0;
  padding-bottom: 1em;
  --border-width: 0 !important;

  .about {
    --background: white;
    --background-activated: white;
    --box-shadow: none;
    --color: var(--ion-color-inria);
    --color-activated: var(--ion-color-inria-shade);
  }
}

.logo {
  width: 150px;
  text-align: left;

  ion-img {
    display: block;
    width: 120px;
    height: auto;
    margin-left:20px;
  }

  ion-text {
    display: block;
    margin-top: 5px;
    margin-left:20px;
    font-size: .8em;
  }
}

.home-course {
}

.title-wrapper {
  width: 85%;
  margin-right: -10px;
  margin-left: auto;
  padding: 2em;
  background: var(--ion-color-inria);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);

  .title-container {
    color: white;

    .title {
      text-transform: uppercase;
      margin: 0 1em 0 0;
    }
  }
}

.trailer-course {
  position: relative;
  width: 80%;
  min-width: 250px;
  margin: 6vh auto;
  background: var(--ion-color-inria-blue);
  border: 2px solid var(--ion-color-inria-blue);
  border-radius: 10px;
  overflow: hidden;
}

.about-course {
  display: block;
  text-align: center;

  ion-text, ion-icon {
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
  }
}

.start-course {
  margin: 1em 1em 2em 1em;
}

@media (max-height: 668px) {
  ion-content {
    font-size: 0.8em;
  }
  .title-wrapper {
    padding: 2em;

    h3{
      font-size: 20px;
    }
  }

  .trailer-course {
    margin: 4vh auto 2vh auto;
  }
}

@media (min-width: 650px) {
  .title-wrapper {
    margin-top: 4em;
    padding: 4em;

    .title-container {
      padding: 0 10vw;
    }
  }

  .trailer-course {
    margin: 4vh auto 2vh auto;
  }

  .start-course {
    margin: 2em 2em 4em 2em;
  }
}
