<ion-header mode="ios">
  <ion-toolbar>
    <div class="logo" slot="start">
      <ion-img src="/assets/icon/ePoc.svg"></ion-img>
      <ion-text color="inria-blue">Formation interne</ion-text>
    </div>
    <ion-button class="about" slot="end" routerLink="about" routerDirection="forward">
      <ion-icon slot="icon-only" ios="ios-information-circle" md="ios-information-circle" color="inria-blue"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <div class="home-course">
    <ion-grid *ngIf="epoc$ | async as epoc">
      <ion-row>
        <ion-col>
          <div class="title-wrapper">
            <div class="title-container">
              <h3 class="title">{{epoc.title}}</h3>
              <div class="authors">
                <span *ngFor="let author of epoc.authors">{{author.name}}</span>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="trailer-course" (click)="togglePlay($event)">
            <img [src]="epoc.image" *ngIf="!hasPlayed"/>
            <video [src]="epoc.teaser" preload="metadata" (play)="play($event)" (pause)="pause($event)"></video>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a class="about-course" [routerLink]="'/player/about/'+zrrId">
            <ion-text color="inria-blue">A propos de cette formation</ion-text>
            <ion-icon ios="md-arrow-dropright" md="md-arrow-dropright" color="inria-blue"></ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer mode="ios">
  <ion-button class="start-course" [routerLink]="'/player/toc/'+zrrId" routerDirection="forward" expand="block" color="inria-blue" strong>
    Commencer la formation
  </ion-button>
</ion-footer>
