<common-question icon="help-circle-icon" [title]="content.title" [subtitle]="content.subtitle"
                 [contentId]="content.id" [epocId]="epocId" [question]="question">
  <ion-button *ngIf="!answerChecked && question.responses.length > 0" expand="block" size="large" color="inria" (click)="checkAnswer($event)">
    <span>Valider mes réponses</span>
  </ion-button>
  <ion-button *ngIf="question.responses.length <= 0" expand="block" size="large" color="inria" fill="outline" (click)="checkAnswer($event)">
    <span>J'ai terminé</span>
  </ion-button>
</common-question>
