<flip-card disabled="true">
    <div front>
        <div class="title-container">
            <div class="title-icon">
                <ion-icon name="help-circle-outline"></ion-icon>
            </div>
            <h5 class="subtitle">{{content.subtitle}}</h5>
            <h4 class="title">{{content.title}} {{+question.score ? '(' + question.score + 'pts)' : ''}}</h4>
        </div>

        <div class="statement ion-text-center">
            <div *ngIf="question.statement">{{question.statement}}</div>
            <b>{{question.label}}</b>
        </div>
        <p class="nbCorrect" *ngIf="correctionState">{{!solutionShown ? +question.score ? everythingIsCorrect ? question.score + 'pts' : '0pts' : 'Vos réponses' : 'Solution'}}</p>

        <ng-container *ngIf="question.responses.length === 0">
            <ion-radio-group [value]="answer">
                <ion-item [lines]="'none'" *ngFor="let response of question.responses"
                          (click)="selectAnswer(response.value)">
                    <ion-radio mode="md" slot="start" [value]="response.value"
                               [disabled]="disabled"></ion-radio>
                    <ion-label class="ion-text-wrap">{{response.label}}</ion-label>
                </ion-item>
            </ion-radio-group>
            <button (click)="checkAnswer($event)"
                    [ngClass]="disabled ? 'disabled':''">{{epoc.parameters.openQuestionButton ? epoc.parameters.openQuestionButton : 'Valider'}}</button>
        </ng-container>

        <ng-container *ngIf="question.type === 'choice' && question.responses.length !== 0">
            <ion-radio-group [value]="!solutionShown ? answer : question.correctResponse[0]">
                <ion-item [lines]="'none'" *ngFor="let response of question.responses"
                          (click)="selectAnswer(response.value)"
                          [ngClass]="{
           'correct': (solutionShown && response.value === question.correctResponse[0])
           || (answer === question.correctResponse[0] && answer === response.value && correctionState && !solutionShown),
           'incorrect': correctionState
           && !solutionShown
           && (answer !== question.correctResponse[0] && answer === response.value)
           }">
                    <ion-radio mode="md" slot="start" [value]="response.value"
                               [disabled]="disabled"></ion-radio>
                    <ion-label class="ion-text-wrap">{{response.label}}</ion-label>
                </ion-item>
            </ion-radio-group>
        </ng-container>

        <ng-container *ngIf="question.type === 'multiple-choice' && question.responses.length !== 0">
            <ion-list>
                <ion-item [lines]="'none'" *ngFor="let response of question.responses"
                          [ngClass]="{
        'correct': correctionState && question.correctResponse.includes(response.value) && (solutionShown || answer.includes(response.value)),
        'incorrect': correctionState && answer.includes(response.value) && !question.correctResponse.includes(response.value)}">
                    <ion-checkbox mode="md" slot="start" [value]="!correctionState && response.value"
                                  (ionChange)="selectAnswerMultiple($event)"
                                  [disabled]="disabled"
                                  [checked]="solutionShown ? question.correctResponse.includes(response.value) : answer.includes(response.value)"
                    ></ion-checkbox>
                    <ion-label class="ion-text-wrap">{{response.label}}</ion-label>
                </ion-item>
            </ion-list>
        </ng-container>

        <div class="buttons">
            <ion-button class="toggleSolution" (click)="toggleSolution($event)" *ngIf="this.explanationShown"
                        [disabled]="this.flipped || everythingIsCorrect"
                        [ngClass]="this.flipped || everythingIsCorrect ? 'usrSelect': ''">
                <div class="answerState" *ngIf="!solutionShown">
                    <ion-icon name="bulb-outline"></ion-icon>
                    SOLUTION
                </div>
                <div class="solutionState" *ngIf="solutionShown">
                    VOS REPONSES
                </div>
            </ion-button>
            <ion-button class="explication" *ngIf="this.explanationShown" (click)="flip()">
                <div class="explanationFront" *ngIf="!this.flipped">
                    <ion-icon name="eye-outline"></ion-icon>
                    EXPLICATION
                </div>
                <div class="explanationBack" *ngIf="this.flipped">
                    <ion-icon name="eye-off-outline"></ion-icon>
                    EXPLICATION
                </div>
            </ion-button>
        </div>
        <ion-button class="check-answer" [disabled]="correctionState || !answer" (click)="checkAnswer($event); explanationShown = true"
                    *ngIf="!explanationShown">Valider
        </ion-button>
    </div>
    <html-content [html]="question.explanation" (click)="flip()" back></html-content>
</flip-card>
