<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" color="inria-blue"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="epoc$ | async as epoc">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <h3>{{epoc.title}}</h3>
      </ion-col>
    </ion-row>
    <ion-row class="epoc-specs ion-text-center">
      <ion-col size="4">
        <div class="epoc-spec-icon"><ion-icon name="book" mode="md" color="inria-blue"></ion-icon></div>
        <div class="epoc-spec-value">9 chapitres</div>
      </ion-col>
      <ion-col size="4">
        <div class="epoc-spec-icon"><ion-icon name="stopwatch" mode="md" color="inria-blue"></ion-icon></div>
        <div class="epoc-spec-value">10 min par chapitre</div>
      </ion-col>
      <ion-col size="4">
        <div class="epoc-spec-icon"><ion-icon name="checkbox-outline" mode="md" color="inria-blue"></ion-icon></div>
        <div class="epoc-spec-value">29 exercices</div>
      </ion-col>
    </ion-row>

    <div class="trailer-course" (click)="togglePlay($event)">
      <video [src]="epoc.teaser" [poster]="epoc.image" controls controlslist="nodownload" disablePictureInPicture playsinline preload="metadata" (play)="play($event)" (pause)="pause($event)"></video>
      <img [src]="epoc.image" *ngIf="!hasPlayed"/>
    </div>

    <ion-row>
      <ion-col size="12">
        <div class="tabs-headers">
          <div class="tabs-header" (click)="selectTab(0)" [ngClass]="selectedTab === 0 ? 'selected':''">
            <span>Objectifs</span>
          </div>
          <div class="tabs-header" (click)="selectTab(1)" [ngClass]="selectedTab === 1 ? 'selected':''">
            <span>Résumé</span>
          </div>
          <div class="tabs-header" (click)="selectTab(2)" [ngClass]="selectedTab === 2 ? 'selected':''">
            <span>Auteurs</span>
          </div>
        </div>
        <div class="tabs">
          <div class="tab" *ngIf="selectedTab === 0">
            <div class="course-objective" *ngFor="let objective of epoc.objectives">
              <ion-icon name="locate" mode="md"></ion-icon>
              <ion-text>{{objective}}</ion-text>
            </div>
          </div>
          <div class="tab" *ngIf="selectedTab === 1">
            <ion-text [innerHTML]="epoc.summary"></ion-text>
          </div>
          <div class="tab" *ngIf="selectedTab === 2">
            <div class="epoc-author" *ngFor="let author of epoc.authors">
              <ion-text class="semibold">{{author.name}} : </ion-text>
              <ion-img [src]="author.image"></ion-img>
              <ion-text [innerHTML]="author.description"></ion-text>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer mode="ios" *ngIf="epoc$ | async as epoc">
  <ion-toolbar>
    <ion-button class="start-course" [routerLink]="'/player/toc/'+epoc.id" routerDirection="forward" expand="block" color="inria-blue" strong>
      Commencer la formation
    </ion-button>
  </ion-toolbar>
</ion-footer>
