<ng-container *ngIf="content">
  <audio-player [src]="content.source" [title]="content.title" (timelineDragging)="forwardEvent($event)"
                (audioData)="setAudioData($event)" (playPause)="playPause($event)"></audio-player>
  <ng-container *ngIf="content.summary">
    <h4>{{'PLAYER.VIDEO.SUMMARY' | translate}}</h4>

    <div class="audio-summary">
      <html-content [html]="content.summary" *ngIf="content.summary && content.summary.length > 0"></html-content>
      <p *ngIf="!content.summary || content.summary.length <= 0">{{'PLAYER.VIDEO.NO_SUMMARY' | translate}}</p>
    </div>
  </ng-container>
</ng-container>
