<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button aria-label="Retour" text="" defaultHref="/home" color="inria-icon"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"SETTINGS_PAGE.OPEN_PAGE.HEADER" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="open">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-card *ngIf="!working">
            <ion-card-header>
              <ion-card-title>{{"SETTINGS_PAGE.OPEN_PAGE.OPEN" | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{"SETTINGS_PAGE.OPEN_PAGE.INFO" | translate}}</p>
            </ion-card-content>
            <ion-card-content>
              <ion-button class="start-course" expand="block" color="inria-blue" (click)="pickFile()" [disabled]="working" strong>
                <ion-icon aria-hidden="true" name="folder-open" mode="ios" slot="start"></ion-icon>
                {{"SETTINGS_PAGE.OPEN_PAGE.BUTTON" | translate}}
                <input type="file" hidden (change)="fileHandler($event)" #file>
              </ion-button>
            </ion-card-content>
            <ion-card-content *ngIf="zipList?.length > 0">
              <ion-card-subtitle>{{"SETTINGS_PAGE.OPEN_PAGE.ZIPS" | translate}}</ion-card-subtitle>
              <ion-list>
                <ion-item *ngFor="let zip of zipList">
                  <ion-label (click)="openEpoc(zip)">{{zip}}</ion-label>
                  <ion-icon color="icon" name="trash" slot="end" (click)="fileDelete(zip)"></ion-icon>
                </ion-item>
              </ion-list>
            </ion-card-content>
            <ion-card-content *ngIf="epocList?.length > 0">
              <ion-card-subtitle>{{"SETTINGS_PAGE.OPEN_PAGE.EPOCS" | translate}}</ion-card-subtitle>
              <ion-list>
                <ion-item *ngFor="let epoc of epocList">
                  <ion-label [routerLink]="'/epoc/toc/'+epoc">{{epoc}}</ion-label>
                  <ion-icon aria-label="Supprimer" aria-roledescription="bouton" color="icon" name="trash" slot="end" (click)="dirDelete(epoc)"></ion-icon>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="working">
            <ion-card-header>
              <ion-card-title>{{"LOADING" | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{message}}</ion-card-content>
            <ion-card-content class="loader">
              <ion-spinner></ion-spinner>
              <ion-progress-bar color="primary" [value]="progress"></ion-progress-bar>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
