<ion-header>
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-avatar>
          <ion-icon name="person"></ion-icon>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            John
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Doe
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            john.doe@gmail.com
          </ion-label>
        </ion-item>
        <ion-button class="logout" expand="block"><ion-icon name="log-out"></ion-icon> Logout</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Attestations :</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
