<ng-container>
  <h4>{{'QUESTION.CORRECTION.CORRECTION' | translate}}</h4>
  <ion-item lines="none">
    <div class="correction-icon correct" *ngIf="correction"><ion-icon aria-hidden="true" name="checkmark-outline"></ion-icon></div>
    <div class="correction-icon incorrect" *ngIf="!correction"><ion-icon aria-hidden="true" name="close-outline"></ion-icon></div>
    <ion-label class="ion-text-wrap" color="inria-icon">
      <div class="correction-right" *ngIf="correction">{{'QUESTION.CORRECTION.SUCCESS' | translate}}</div>
      <div class="correction-wrong" *ngIf="!correction">{{'QUESTION.CORRECTION.FAILURE' | translate}}</div>
    </ion-label>
  </ion-item>
</ng-container>
