$inria-red : #e63312;
$inria-blue : #384257;
$inria-grey : #6477A0;
$inria-spe : #2EC6FA;
$inria-light : #F4F7FB;
$inria-dark : #23232C;
$inria-correct: #85CE70;
$inria-correct-shade: #5EA51F;
$inria-correct-tint: #EBF4E8;
$inria-incorrect: #EB7575;
$inria-certificate: #FFA029;
$inria-lightgrey: #D3D7E0;
$inria-darkgrey: #384156;
$inria-black: #17191A;

.test{
  color: var(--ion-color-inria-lightgrey-rgb);
}

@media (prefers-color-scheme: light) {
  :root {
    --ion-color-content: white;
    --ion-color-background: white;
    --ion-color-shadow: rgba(218,222,234,0.51);
    --ion-color-text: var(--ion-color-inria-blue);
    --ion-color-bullet: var(--ion-color-inria-lightgrey);
    --ion-color-text-button: var(--ion-color-inria-blue);
    --ion-color-item: var(--ion-color-inria-light);
    --ion-color-specs: var(--ion-color-inria-grey);
    --ion-color-contrast: var(--ion-color-inria-light);
    --ion-color-contrast-2: var(--ion-color-inria-light);
    --ion-color-icon-2: var(--ion-color-inria);
    --ion-color-fill-button: var(--ion-color-inria-light);
    
    
    --ion-color-inria-icon: #{$inria-blue};
    --ion-color-inria-icon-rgb: #{red($inria-blue)}, #{green($inria-blue)}, #{blue($inria-blue)};
    --ion-color-inria-icon-contrast: #fff;
    --ion-color-inria-icon-contrast-rgb: 255,255,255;
    --ion-color-inria-icon-shade: #{darken($inria-blue, 10%)};
    --ion-color-inria-icon-tint: #{lighten($inria-blue, 10%)};

    --ion-color-inria-base-button: #{$inria-light};
    --ion-color-inria-base-button-rgb: #{red($inria-light)}, #{green($inria-light)}, #{blue($inria-light)};
    --ion-color-inria-base-button-contrast: #{$inria-grey};
    --ion-color-inria-base-button-contrast-rgb: #{$inria-grey};
    --ion-color-inria-base-button-shade: #{darken($inria-light, 10%)};
    --ion-color-inria-base-button-tint: #{lighten($inria-light, 10%)};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-content: var(--ion-color-inria-dark);
    --ion-color-background: var(--ion-color-inria-black);
    --ion-color-shadow: rgba(218,222,234,0);
    --ion-color-text: var(--ion-color-inria-light);
    --ion-color-bullet: var(--ion-color-inria-darkgrey);
    --ion-color-text-button: #A6B1C9;
    --ion-color-item: var(--ion-color-inria-dark);
    --ion-color-specs: white;
    --ion-color-contrast: var(--ion-color-inria-blue);
    --ion-color-contrast-2: var(--ion-color-inria-black);
    --ion-color-icon-2: var(--ion-color-inria-light);
    --ion-color-fill-button: var(--ion-color-inria);

    
    --ion-color-inria-icon: #{$inria-light};
    --ion-color-inria-icon-rgb: #{red($inria-light)}, #{green($inria-light)}, #{blue($inria-light)};
    --ion-color-inria-icon-contrast: #{$inria-grey};
    --ion-color-inria-icon-contrast-rgb: #{$inria-grey};
    --ion-color-inria-icon-shade: #{darken($inria-light, 10%)};
    --ion-color-inria-icon-tint: #{lighten($inria-light, 10%)};

    --ion-color-inria-base-button: #{$inria-dark};
    --ion-color-inria-base-button-rgb: #{red($inria-dark)}, #{green($inria-dark)}, #{blue($inria-dark)};
    --ion-color-inria-base-button-contrast: #{$inria-grey};
    --ion-color-inria-base-button-contrast-rgb: #{$inria-grey};
    --ion-color-inria-base-button-shade: #{darken($inria-dark, 10%)};
    --ion-color-inria-base-button-tint: #{lighten($inria-dark, 10%)};
  }
}

:root {
  --ion-color-inria: #{$inria-red};
  --ion-color-inria-rgb: #{red($inria-red)}, #{green($inria-red)}, #{blue($inria-red)};
  --ion-color-inria-contrast: #fff;
  --ion-color-inria-contrast-rgb: 255,255,255;
  --ion-color-inria-shade: darken(#{$inria-red}, 10%);
  --ion-color-inria-tint: #{lighten($inria-red, 10%)};

  --ion-color-inria-blue: #{$inria-blue};
  --ion-color-inria-blue-rgb: #{red($inria-blue)}, #{green($inria-blue)}, #{blue($inria-blue)};
  --ion-color-inria-blue-contrast: #fff;
  --ion-color-inria-blue-contrast-rgb: 255,255,255;
  --ion-color-inria-blue-shade: #{darken($inria-blue, 10%)};
  --ion-color-inria-blue-tint: #{lighten($inria-blue, 10%)};

  --ion-color-inria-grey: #{$inria-grey};
  --ion-color-inria-grey-rgb: #{red($inria-grey)}, #{green($inria-grey)}, #{blue($inria-grey)};
  --ion-color-inria-grey-contrast: #fff;
  --ion-color-inria-grey-contrast-rgb: 255,255,255;
  --ion-color-inria-grey-shade: #{darken($inria-grey, 10%)};
  --ion-color-inria-grey-tint: #{lighten($inria-grey, 10%)};

  --ion-color-inria-light: #{$inria-light};
  --ion-color-inria-light-rgb: #{red($inria-light)}, #{green($inria-light)}, #{blue($inria-light)};
  --ion-color-inria-light-contrast: #{$inria-grey};
  --ion-color-inria-light-contrast-rgb: #{$inria-grey};
  --ion-color-inria-light-shade: #{darken($inria-light, 10%)};
  --ion-color-inria-light-tint: #{lighten($inria-light, 10%)};

  --ion-color-inria-dark: #{$inria-dark};
  --ion-color-inria-dark-rgb: #{red($inria-dark)}, #{green($inria-dark)}, #{blue($inria-dark)};
  --ion-color-inria-dark-contrast: #{$inria-grey};
  --ion-color-inria-dark-contrast-rgb: #{$inria-grey};
  --ion-color-inria-dark-shade: #{darken($inria-dark, 10%)};
  --ion-color-inria-dark-tint: #{lighten($inria-dark, 10%)};

  --ion-color-inria-spe: #{$inria-spe};
  --ion-color-inria-spe-rgb: #{red($inria-spe)}, #{green($inria-spe)}, #{blue($inria-spe)};
  --ion-color-inria-spe-contrast: #fff;
  --ion-color-inria-spe-contrast-rgb: 255,255,255;
  --ion-color-inria-spe-shade: #{darken($inria-spe, 10%)};
  --ion-color-inria-spe-tint: #{lighten($inria-spe, 10%)};

  --ion-color-inria-correct: #{$inria-correct};
  --ion-color-inria-correct-rgb: #{red($inria-correct)}, #{green($inria-correct)}, #{blue($inria-correct)};
  --ion-color-inria-correct-contrast: #FFF;
  --ion-color-inria-correct-contrast-rgb: 255, 255, 255;
  --ion-color-inria-correct-shade: #{$inria-correct-shade};
  --ion-color-inria-correct-tint: #{$inria-correct-tint};

  --ion-color-inria-incorrect: #{$inria-incorrect};
  --ion-color-inria-incorrect-rgb : #{red($inria-incorrect)}, #{green($inria-incorrect)}, #{blue($inria-incorrect)};
  --ion-color-inria-incorrect-contrast: #FFF;
  --ion-color-inria-incorrect-contrast-rgb: 255, 255, 255;
  --ion-color-inria-incorrect-shade: #{darken($inria-incorrect, 10%)};
  --ion-color-inria-incorrect-tint: #{lighten($inria-incorrect, 10%)};

  --ion-color-inria-lightgrey: #{$inria-lightgrey};
  --ion-color-inria-lightgrey-rgb : #{red($inria-lightgrey)}, #{green($inria-lightgrey)}, #{blue($inria-lightgrey)};
  --ion-color-inria-lightgrey-contrast: #FFF;
  --ion-color-inria-lightgrey-contrast-rgb: 255, 255, 255;
  --ion-color-inria-lightgrey-shade: #{darken($inria-lightgrey, 10%)};
  --ion-color-inria-lightgrey-tint: #{lighten($inria-lightgrey, 10%)};

  --ion-color-inria-darkgrey: #{$inria-darkgrey};
  --ion-color-inria-darkgrey-rgb : #{red($inria-darkgrey)}, #{green($inria-darkgrey)}, #{blue($inria-darkgrey)};
  --ion-color-inria-darkgrey-contrast: #FFF;
  --ion-color-inria-darkgrey-contrast-rgb: 255, 255, 255;
  --ion-color-inria-darkgrey-shade: #{darken($inria-darkgrey, 10%)};
  --ion-color-inria-darkgrey-tint: #{darken($inria-darkgrey, 10%)};

  --ion-color-inria-certificate: #{$inria-certificate};
  --ion-color-inria-certificate-rgb : #{red($inria-certificate)}, #{green($inria-certificate)}, #{blue($inria-certificate)};
  --ion-color-inria-certificate-contrast: #FFF;
  --ion-color-inria-certificate-contrast-rgb: 255, 255, 255;
  --ion-color-inria-certificate-shade: #{darken($inria-certificate, 10%)};
  --ion-color-inria-certificate-tint: #{lighten($inria-certificate, 10%)};

  --ion-color-inria-black: #{$inria-black};
  --ion-color-inria-black-rgb : #{red($inria-black)}, #{green($inria-black)}, #{blue($inria-black)};
  --ion-color-inria-black-contrast: #FFF;
  --ion-color-inria-black-contrast-rgb: 255, 255, 255;
  --ion-color-inria-black-shade: #{darken($inria-black, 10%)};
  --ion-color-inria-black-tint: #{lighten($inria-black, 10%)};

  --vjs-theme-forest--primary: #364357 !important;
  --vjs-theme-forest--secondary: #81cbcb!important;

  ion-img {
    /**
     * Bug fix for:
     * https://github.com/ionic-team/ionic/issues/18734
     */
    min-height: 1px !important;
  }
}

.ion-color-inria-base-button {
  --ion-color-base: var(--ion-color-inria-base-button);
  --ion-color-rgb : var(--ion-color-inria-base-button-rgb);
  --ion-color-contrast: var(--ion-color-inria-base-button-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-base-button-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-base-button-shade);
  --ion-color-tint: var(--ion-color-inria-base-button-tint);
}

.ion-color-inria-icon {
  --ion-color-base: var(--ion-color-inria-icon);
  --ion-color-rgb : var(--ion-color-inria-icon-rgb);
  --ion-color-contrast: var(--ion-color-inria-icon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-icon-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-icon-shade);
  --ion-color-tint: var(--ion-color-inria-icon-tint);
}

.ion-color-inria {
  --ion-color-base: var(--ion-color-inria);
  --ion-color-base-rgb: var(--ion-color-inria-rgb);
  --ion-color-contrast: var(--ion-color-inria-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-shade);
  --ion-color-tint: var(--ion-color-inria-tint);
}

.ion-color-inria-blue {
  --ion-color-base: var(--ion-color-inria-blue);
  --ion-color-base-rgb: var(--ion-color-inria-blue-rgb);
  --ion-color-contrast: var(--ion-color-inria-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-blue-shade);
  --ion-color-tint: var(--ion-color-inria-blue-tint);
}

.ion-color-inria-grey {
  --ion-color-base: var(--ion-color-inria-grey);
  --ion-color-base-rgb: var(--ion-color-inria-grey-rgb);
  --ion-color-contrast: var(--ion-color-inria-grey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-grey-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-grey-shade);
  --ion-color-tint: var(--ion-color-inria-grey-tint);
}

.ion-color-inria-light {
  --ion-color-base: var(--ion-color-inria-light);
  --ion-color-base-rgb: var(--ion-color-inria-light-rgb);
  --ion-color-contrast: var(--ion-color-inria-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-light-shade);
  --ion-color-tint: var(--ion-color-inria-light-tint);
}

.ion-color-inria-dark {
  --ion-color-base: var(--ion-color-inria-dark);
  --ion-color-base-rgb: var(--ion-color-inria-dark-rgb);
  --ion-color-contrast: var(--ion-color-inria-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-dark-shade);
  --ion-color-shade: var(--ion-color-inria-dark-tint);
}

.ion-color-inria-spe {
  --ion-color-base: var(--ion-color-inria-spe);
  --ion-color-base-rgb: var(--ion-color-inria-spe-rgb);
  --ion-color-contrast: var(--ion-color-inria-spe-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-spe-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-spe-shade);
  --ion-color-tint: var(--ion-color-inria-spe-tint);
}

.ion-color-inria-correct {
  --ion-color-base: var(--ion-color-inria-correct);
  --ion-color-base-rgb: var(--ion-color-inria-correct-rgb);
  --ion-color-contrast: var(--ion-color-inria-correct-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-correct-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-correct-shade);
  --ion-color-tint: var(--ion-color-inria-correct-tint);
}

.ion-color-inria-incorrect {
  --ion-color-base: var(--ion-color-inria-incorrect);
  --ion-color-base-rgb: var(--ion-color-inria-incorrect-rgb);
  --ion-color-contrast: var(--ion-color-inria-incorrect-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-incorrect-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-incorrect-shade);
  --ion-color-tint: var(--ion-color-inria-incorrect-tint);
}

.ion-color-inria-lightgrey {
  --ion-color-base: var(--ion-color-inria-lightgrey);
  --ion-color-base-rgb: var(--ion-color-inria-lightgrey-rgb);
  --ion-color-contrast: var(--ion-color-inria-lightgrey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-lightgrey-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-lightgrey-shade);
  --ion-color-tint: var(--ion-color-inria-lightgrey-tint);
}

.ion-color-inria-darkgrey {
  --ion-color-base: var(--ion-color-inria-darkgrey);
  --ion-color-base-rgb: var(--ion-color-inria-darkgrey-rgb);
  --ion-color-contrast: var(--ion-color-inria-darkgrey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-darkgrey-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-darkgrey-shade);
  --ion-color-tint: var(--ion-color-inria-darkgrey-tint);
}

.ion-color-inria-certificate {
  --ion-color-base: var(--ion-color-inria-certificate);
  --ion-color-base-rgb: var(--ion-color-inria-certificate-rgb);
  --ion-color-contrast: var(--ion-color-inria-certificate-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-certificate-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-certificate-shade);
  --ion-color-tint: var(--ion-color-inria-certificate-tint);
}

.ion-color-inria-black {
  --ion-color-base: var(--ion-color-inria-black);
  --ion-color-base-rgb: var(--ion-color-inria-black-rgb);
  --ion-color-contrast: var(--ion-color-inria-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-black-shade);
  --ion-color-tint: var(--ion-color-inria-black-tint);
}