/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.custom-action-sheet{
  .action-sheet-button-inner{
    display: block;
    text-align: left;
    color: black;

    .action-sheet-icon{
      float: right;
    }
  }
}

:root {
  --ion-color-inria: #ee2d20;
  --ion-color-inria-rgb: 238,45,32;
  --ion-color-inria-contrast: #ffffff;
  --ion-color-inria-contrast-rgb: 255,255,255;
  --ion-color-inria-shade: #b9251a;
  --ion-color-inria-tint: #b9251a;

  ion-img {
    /**
     * Bug fix for:
     * https://github.com/ionic-team/ionic/issues/18734
     */
    min-height: 1px !important;
  }
}

.ion-color-inria {
  --ion-color-base: var(--ion-color-inria);
  --ion-color-base-rgb: var(--ion-color-inria-rgb);
  --ion-color-contrast: var(--ion-color-inria-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inria-contrast-rgb);
  --ion-color-shade: var(--ion-color-inria-shade);
  --ion-color-tint: var(--ion-color-inria-tint);
}

.bold{
  font-weight: 700;
}

.semibold{
  font-weight: 600;
}

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}


// Reader

$inria-red : #e63312;
$inria-red-bg : lighten($inria-red, 48%);
$inria-blue : #40455a;
$inria-blue-border : lighten($inria-blue, 50%);
$inria-blue-bg : lighten($inria-blue, 64%);

.reader .page-content{
  color: $inria-blue;

  & :first-child{
    margin-top: 0;
  }

  video{
    display: block;
    width:100%;
    height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  @for $i from 1 through 6 {
    h#{7 - $i} {
      font-size: pow(1.1, $i) * 1em;
      font-weight: 700;
      line-height: 1;
      color:$inria-blue;
      margin: 1em 0 .5em 0;
      padding: 0;
      text-transform: unset;
    }

    * + h#{7 - $i} {
      margin-top: 1em;
    }
  }

  p, ul, ol, table, pre, blockquote, video {
    margin: 1em 0 1em 0;
    line-height: 1.4;
    text-align: justify;
  }

  figure {
    margin: 1em 0 1.5em 0;
    line-height: 1.4;
    color: $inria-blue;

    img{
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
    }

    figcaption {
      font: italic smaller sans-serif;
      padding: 3px;
      text-align: center;
    }
  }

  blockquote {
    padding: 0 1em;
    border-left: .25em solid #dfe2e5;
  }

  table{
     position: relative;
     width:100%;
     text-align: left;
     border-collapse: collapse;

     thead{
       position: relative;

       &:before{
         content: '';
         width: 1em;
         height: 1em;
         position:absolute;
         top: -0.2em;
         left: -0.2em;
         background: $inria-red;
       }
     }

     th{
       position: relative;
       padding: .4em .4em .4em .4em;
       font-weight: 500;
       color:white;
       background: $inria-blue;
       border:none;
       z-index: 1;
     }

     td{
       padding: .4em .4em .4em .4em;
       border: 1px solid $inria-blue-border;
     }

     &.striped{
       tr:nth-of-type(2n+1){
         background: $inria-blue-bg;
       }
     }
   }
}
