<p class="nbCorrect">{{selectHeader}}</p>
<div class="current-response" *ngIf="responses.length > 0">
  <div class="response-item" *ngFor="let currentResponse of getCurrentResponse()" [@fadeOut]>
    {{currentResponse.label}}
  </div>
</div>
<div class="drop-zones">
  <div class="drop-zone" (click)="addResponse(zoneIndex)" *ngFor="let zone of question.correctResponse; let zoneIndex = index;">
    <span class="zone-label">{{zone.label}}</span>
    <div class="zone">
      <span class="zone-info" *ngIf="answer[zoneIndex].length < 1 && !this.correctionState">Cliquer pour déposer</span>
      <div class="solutionNotShown" *ngIf="!this.solutionShown">
        <div class="response-item" *ngFor="let response of answer[zoneIndex]; let responseIndex = index;" [@slideInOut]
             [ngClass]="{
              'disabled': correctionState,
              'correct': selectClass[zoneIndex][responseIndex] === 'correct',
              'incorrect': selectClass[zoneIndex][responseIndex] === 'incorrect'}">
            {{response.label}} <ion-icon name="close" (click)="removeResponse($event, zoneIndex, responseIndex)" *ngIf="!correctionState"></ion-icon>
        </div>
      </div>
      <div class="solutionNotShown" *ngIf="this.solutionShown">
        <div class="response-item" *ngFor="let value of question.correctResponse[zoneIndex].values; let valueIndex = index;" [@slideInOut]
             [ngClass]="{
              'disabled': correctionState,
              'correct': true}">
          {{selectValue[value]}}
        </div>
      </div>
    </div>
  </div>
</div>
