<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bookmarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="epoc$ | async as epoc">
  <ion-list *ngIf="reading.bookmarks.length > 0">
    <ion-item *ngFor="let bookmark of reading.bookmarks; let i = index;" [routerLink]="'/player/play/'+epoc.id+'/'+bookmark">
      <ion-icon name="bookmark" color="inria"></ion-icon>
      <ion-label>Signet {{i + 1}}</ion-label>
      <ion-note slot="end" color="primary">{{bookmark}}%</ion-note>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="reading.bookmarks.length <= 0">
    <ion-item>Aucun signet</ion-item>
  </ion-list>
</ion-content>
