<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bookmarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="epoc$ | async as epoc">
  <ion-grid>
    <ion-row>
      <ion-col>
        <b>Bookmarks list :</b>
        <ul>
          <li *ngFor="let bookmark of reading.bookmarks" >
            <a [routerLink]="'/player/play/'+epoc.id+'/'+bookmark" class="underline">Page {{bookmark}}</a>
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
