.reader-progress{
  width: 100%;
  top: var(--ion-safe-area-top);
  z-index: 1;
}

.reader{
  position: absolute;
  top: var(--ion-safe-area-top);
  height: calc(100% - var(--ion-safe-area-top));
  width: 100%;
  opacity: 1;
  transition: opacity .3s ease;
  background: var(--ion-color-contrast-2);

  ion-spinner{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .reader-slider{
    position: absolute;
    height:100%;
    width: 100%;
    overflow: hidden;
  }

  ion-slide{
    flex-direction: column;
    background-color: var(--ion-color-contrast-2);
  }
}

.reader-actions{
  position: absolute;
  bottom: calc(.25rem + var(--ion-safe-area-bottom));
  left:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(150px) translateX(-50%);
  transition: transform .3s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 50;

  &.showing{
    transform: translateY(0) translateX(-50%);;
  }

  .reader-action{
    display: flex;
    justify-content: center;
    align-items: center;
    width:3.5rem;
    height:3.5rem;
    margin: .2rem;
    background: var(--ion-color-contrast-3);
    box-shadow: -4px -4px 8px 0 var(--ion-color-reader-action-shadow-1), 4px 4px 8px 0 var(--ion-color-reader-action-shadow-2);
    border-radius: 4rem;
    font-size: 1.5rem;
    color:var(--ion-color-icon-2);

    &.disabled{
      color: var(--ion-color-reader-action-disabled);
    }

    &.small{
      width:2.5rem;
      height:2.5rem;
      font-size: 1.25rem;
      color:var(--ion-color-icon);
    }

    &.hidden{
      opacity: 0;
    }
  }
}
