<ion-content>
  <div class="reader" slot="fixed" [ngStyle]="readerStyles" tabindex="-1">
    <ion-spinner *ngIf="!dataInitialized"></ion-spinner>
      <ng-container *ngIf="dataInitialized">
        <swiper-container #readerSlides [modules]="swiperModules" (tap)="toggleControls($event)" (slidechangetransitionend)="updateFocus()" (slidermove)="hideControls()" (slidechangetransitionstart)="onSlideChange()" class="reader-slider">
          <swiper-slide>
            <app-debug [epocId]="epoc.id" [chapterId]="chapterId" contentId="debut"></app-debug>
            <chapter-info [attr.aria-hidden]="currentPage !== 0" [chapter]="chapter"></chapter-info>
          </swiper-slide>
          <ng-container *ngFor="let content of chapter.initializedContents; let index = index">
            <ng-container *ngIf="!content.conditional || ( content.conditional && reading.flags.indexOf(content.id) !== -1 )">
              <swiper-slide>
                <app-debug [epocId]="epoc.id" [chapterId]="chapterId" [contentId]="content.id"></app-debug>
                <common-content [attr.aria-hidden]="index + 1 !== currentPage" [title]="content.title" [subtitle]="content.subtitle" [icon]="iconFromType[content.type]" *ngIf="content.type !== 'simple-question'">
                  <html-content *ngIf="content.type === 'html'" [html]="content.html | srcConvert" (goTo)="goTo($event)"></html-content>
                  <video-content *ngIf="content.type === 'video'" [inputContent]="content" (timelineDragging)="onDrag($event)"></video-content>
                  <audio-content *ngIf="content.type === 'audio'" [inputContent]="content" (timelineDragging)="onDrag($event)"></audio-content>
                  <course-choice *ngIf="content.type === 'choice'" [epocId]="epoc.id" [content]="content" (chosen)="nextPage()"></course-choice>
                  <assessment-content *ngIf="content.type === 'assessment'" [inputContent]="content"></assessment-content>
                </common-content>
                <simple-question [attr.aria-hidden]="index + 1 !== currentPage" *ngIf="content.type === 'simple-question'" [epocId]="epoc.id" [content]="content" [question]="epoc.questions[content.question]" (dragging)="onDrag($event)"></simple-question>
              </swiper-slide>
            </ng-container>
          </ng-container>
          <swiper-slide>
            <app-debug [epocId]="epoc.id" [chapterId]="chapterId" contentId="fin"></app-debug>
            <common-content tabindex="-1" class="chapter-end" [attr.aria-hidden]="pagesCount !== currentPage" [title]="'PLAYER.MODULE_END.FINISH' | translate:{chapter: chapterLabel}" [subtitle]="'PLAYER.MODULE_END.CONGRATS' | translate" icon="assets/icon/modulecheck.svg">
              <chapter-end [epoc]="epoc" [chapter]="chapter" [nextChapter]="nextChapter" [chapterLabel]="chapterLabel"></chapter-end>
            </common-content>
          </swiper-slide>
      </swiper-container>
    </ng-container>
  </div>
  <div aria-hidden="true" class="reader-progress" slot="fixed">
    <ion-progress-bar color="inria" [value]="progress"></ion-progress-bar>
  </div>
  <certificate-modal *ngIf="dataInitialized" slot="fixed" [epocId]="epoc.id" [certificateShown]="certificateShown"></certificate-modal>
  <div class="reader-actions" [ngClass]="{'showing': showControls}" slot="fixed">
    <div [attr.aria-disabled]="currentPage === 0" aria-label="Précédent" role="button" class="reader-action" [ngClass]="currentPage === 0 ? 'disabled':''" (click)="prevPage()" *ngIf="dataInitialized">
      <ion-icon aria-hidden="true" src="/assets/icon/double-gauche.svg"></ion-icon>
    </div>
    <div aria-label="Menu" role="button" class="reader-action small" (click)="displayMenu()">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
    </div>
    <div [attr.aria-disabled]="currentPage > contentsFilteredConditional.length" aria-label="Suivant" role="button" class="reader-action" [ngClass]="currentPage > contentsFilteredConditional.length ? 'disabled':''" (click)="nextPage()" *ngIf="dataInitialized">
      <ion-icon aria-hidden="true" src="/assets/icon/double-droite.svg"></ion-icon>
    </div>
  </div>
</ion-content>
