.loader{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.reader-progress{
  width: 100%;
  top: var(--ion-safe-area-top);
  z-index: 1;
}

.reader{
  position: absolute;
  top: var(--ion-safe-area-top);
  height: calc(100% - var(--ion-safe-area-top));
  width: 100%;
  opacity: 1;
  transition: opacity .3s ease;
  background: var(--ion-color-inria-light);

  &.loading{
    opacity: 0;
  }
  .reader-slider{
    position: absolute;
    height:100%;
    width: 100%;
    overflow: hidden;
  }

  ion-slide{
    flex-direction: column;
  }
}

.reader-actions{
  position: absolute;
  bottom: calc(.25rem + var(--ion-safe-area-bottom));
  left:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(150px) translateX(-50%);
  transition: transform .3s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 50;

  &.showing{
    transform: translateY(0) translateX(-50%);;
  }

  .reader-action{
    display: flex;
    justify-content: center;
    align-items: center;
    width:3.5rem;
    height:3.5rem;
    margin: .2rem;
    background: white;
    box-shadow: -4px -4px 8px 0 #FAFBFF, 4px 4px 8px 0 #A6ABBD;
    border-radius: 4rem;
    font-size: 1.5rem;
    color:var(--ion-color-inria);

    &.disabled{
      color: var(--ion-color-inria-lightgrey);
    }

    &.small{
      width:2.5rem;
      height:2.5rem;
      font-size: 1.25rem;
      color:var(--ion-color-inria-blue);
    }

    &.hidden{
      opacity: 0;
    }
  }
}
