<ion-content>
  <div class="reader" slot="fixed" [ngStyle]="readerStyles">
    <ion-spinner *ngIf="!dataInitialized"></ion-spinner>
    <ng-container *ngIf="dataInitialized">
      <ion-slides #readerSlides [options]="slidesOptions" (ionSlideTap)="toggleControls($event)" (ionSlideDrag)="hideControls()" (ionSlideWillChange)="onSlideChange()" class="reader-slider">
        <ion-slide>
          <app-debug [epocId]="epoc.id" [chapterId]="chapterId" contentId="debut"></app-debug>
          <chapter-info [chapter]="chapter"></chapter-info>
        </ion-slide>
        <ng-container *ngFor="let content of chapter.initializedContents; let index = index">
          <ng-container *ngIf="!content.conditional || ( content.conditional && reading.flags.indexOf(content.id) !== -1 )">
            <ion-slide>
              <app-debug [epocId]="epoc.id" [chapterId]="chapterId" [contentId]="content.id"></app-debug>
              <common-content [title]="content.title" [subtitle]="content.subtitle" [icon]="iconFromType[content.type]" *ngIf="content.type !== 'simple-question'">
                <html-content *ngIf="content.type === 'html'" [html]="content.html | srcConvert" (goTo)="goTo($event)"></html-content>
                <video-content *ngIf="content.type === 'video'" [inputContent]="content" (timelineDragging)="onDrag($event)"></video-content>
                <course-choice *ngIf="content.type === 'choice'" [epocId]="epoc.id" [content]="content" (chosen)="nextPage()"></course-choice>
                <assessment-content *ngIf="content.type === 'assessment'" [inputContent]="content"></assessment-content>
              </common-content>
              <simple-question *ngIf="content.type === 'simple-question'" [epocId]="epoc.id" [content]="content" [question]="epoc.questions[content.question]" (dragging)="onDrag($event)"></simple-question>
            </ion-slide>
          </ng-container>
        </ng-container>
        <ion-slide>
          <app-debug [epocId]="epoc.id" [chapterId]="chapterId" contentId="fin"></app-debug>
          <common-content [title]="'Vous avez terminé ce ' + chapterLabel"  subtitle="Félicitations" icon="assets/icon/modulecheck.svg">
            <chapter-end [epoc]="epoc" [chapter]="chapter" [nextChapter]="nextChapter" [chapterLabel]="chapterLabel"></chapter-end>
          </common-content>
        </ion-slide>
      </ion-slides>
    </ng-container>
  </div>
  <div class="reader-progress" slot="fixed">
    <ion-progress-bar color="inria" [value]="progress"></ion-progress-bar>
  </div>
  <certificate-modal *ngIf="dataInitialized" slot="fixed" [epocId]="epoc.id" [certificateShown]="certificateShown"></certificate-modal>
  <div class="reader-actions" [ngClass]="{'showing': showControls}" slot="fixed">
    <div class="reader-action" [ngClass]="currentPage === 0 ? 'disabled':''" (click)="prevPage()" *ngIf="dataInitialized">
      <ion-icon src="/assets/icon/double-gauche.svg"></ion-icon>
    </div>
    <div class="reader-action small" (click)="displayMenu()">
      <ion-icon name="menu"></ion-icon>
    </div>
    <div class="reader-action" [ngClass]="currentPage > contentsFilteredConditional.length ? 'disabled':''" (click)="nextPage()" *ngIf="dataInitialized">
      <ion-icon src="/assets/icon/double-droite.svg"></ion-icon>
    </div>
  </div>
</ion-content>
