<ion-content>
  <div class="loader" slot="fixed" *ngIf="loading">
    <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#364357">
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
          <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
          <path d="M36 18c0-9.94-8.06-18-18-18">
            <animateTransform
              attributeName="transform"
              type="rotate"
              from="0 18 18"
              to="360 18 18"
              dur="1s"
              repeatCount="indefinite"/>
          </path>
        </g>
      </g>
    </svg>
  </div>

  <div class="reader" slot="fixed" [ngClass]="loading ? 'loading':''" [ngStyle]="readerStyles">

    <ng-container *ngIf="dataInitialized">
      <ion-slides #readerSlides [options]="slidesOptions" (ionSlideWillChange)="onSlideChange()" class="reader-slider">
        <ion-slide>
          <chapter-info [chapter]="chapter"></chapter-info>
        </ion-slide>
        <ng-container *ngFor="let content of chapter.initializedContents; let index = index">
          <ng-container *ngIf="!content.conditional || ( content.conditional && reading.flags.indexOf(content.id) !== -1 )">
            <ion-slide>
              <common-content [title]="content.title" [subtitle]="content.subtitle" [icon]="iconFromType[content.type]">
                <html-content *ngIf="content.type === 'html'" [html]="content.html | srcConvert"></html-content>
                <video-content *ngIf="content.type === 'video'" [inputContent]="content" (timelineDragging)="timelineDragging($event)"></video-content>
              </common-content>
            </ion-slide>
          </ng-container>
        </ng-container>
        <ion-slide>
          <common-content [title]="'Vous avez terminé ce ' + chapterLabel"  subtitle="Félicitations" icon="assets/icon/modulecheck.svg">
            <chapter-end [epoc]="epoc" [chapter]="chapter" [nextChapter]="nextChapter" [chapterLabel]="chapterLabel"></chapter-end>
          </common-content>
        </ion-slide>
      </ion-slides>
    </ng-container>
  </div>
  <div class="reader-progress" slot="fixed">
    <ion-progress-bar color="inria" [value]="progress"></ion-progress-bar>
  </div>
  <div class="certificate-container" slot="fixed" *ngIf="certificateShown">
    <ion-card class="certificate-success-card">
      <ion-card-header class="certificate-success-card-header">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content class="certificate-success-card-content">
        <ion-card-title>Félicitations</ion-card-title>
        <p>Vous avez atteint le score nécéssaire à l'obtention de l'attestation. Vous pouvez générer l'attestation maintenant ou continuer pour augmenter votre score.</p>
        <ion-button (click)="goToCertificate()">Obtenir l'attestation</ion-button>
        <ion-button (click)="dismissCertificateCard()" color="medium">Continuer</ion-button>
        <p><small>(Vous trouverez l'attestation dans la page des scores)</small></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="reader-action">
      <div class="page-action page-prev" [ngClass]="currentPage === 0 ? 'disable':''" (click)="prevPage()" *ngIf="dataInitialized">
        <ion-icon name="caret-back"></ion-icon>
      </div>
      <div class="page-action menu" (click)="displayMenu()">
        <ion-icon name="menu"></ion-icon>
      </div>
      <div class="page-action page-next" [ngClass]="currentPage >= chapter.contents.length + 1 ? 'disable':''" (click)="nextPage()" *ngIf="dataInitialized">
        <ion-icon name="caret-forward"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
