<ion-icon class="arrow-down" name="arrow-down-circle-outline" (click) = dismiss()></ion-icon>

<ion-icon class="correction" *ngIf="this.correct" name="checkmark-circle-outline" color="success"></ion-icon>
<ion-icon class="correction" *ngIf="!this.correct" name="close-outline" color="danger"></ion-icon>

<p class="response">
    Vous avez répondu <strong>{{this.category}}</strong>.
</p>
<p class="answer">
    La bonne réponse était <strong>{{this.answer}}</strong>.

<p class="exp">Explication : </p>

<p class="explanation">
    {{this.explanation}}
    <br>
</p>
