<div class="badge-modal-container" *ngIf="showModal">
  <ion-card class="badge-modal-success-card">
    <ion-card-header class="badge-modal-success-card-header">
      <div class="close" (click)="hide()">
        <ion-icon size="default" name="close-outline"></ion-icon>
      </div>
      <div class="badge-modal-img">
        <ion-img class="badge-modal-bg" src="assets/icon/badge/bg.svg"></ion-img>
        <badge nobg="true" [icon]="badge.icon"></badge>
      </div>
    </ion-card-header>
    <ion-card-content class="badge-modal-success-card-content">
      <ion-card-title class="title">{{badge.title}}</ion-card-title>
      <p class="text1">{{badge.description}}</p>
      <ion-button size="large" expand="block" fill="outline" color="outline-button" (click)="hide()">{{'CLOSE' | translate}}</ion-button>
    </ion-card-content>
  </ion-card>
</div>