.responses{
  position: relative;
  border: 2px dashed white;

  &.dragging{
    border: 2px dashed var(--ion-color-inria-lightgrey);
    border-radius: 10px;
  }
}

.response-item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  border-radius: .5rem;
  box-shadow: 0 1px 7px 0 #D5DDE9;
  color: var(--ion-color-inria-spe);

  span{
    padding-left: .5rem;
  }

  &-overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  &.sorted{
    margin-top: .5rem;
    background: var(--ion-color-inria-light);
    box-shadow: none;

    ion-icon{
      color: var(--ion-color-inria-blue);
    }
  }

  &.selected{
    box-shadow: 0 0 3px rgba(56,128,255,0.12), 0 0 3px rgba(56,128,255,0.24);
  }
}

.drop-zones{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 1em;
  overflow: hidden;

  &-instruction{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding: 1rem;
    color: var(--ion-color-inria-grey);

    span{
      margin-left: 1rem;
      font-size: 0.75rem;
    }
  }

  .drop-zone{
    padding:1rem;
    margin-bottom: 1em;
    border: 2px dashed var(--ion-color-inria-lightgrey);
    border-radius: 10px;

    &:last-child{
      margin-bottom: 0;
    }

    .zone-header{
      display: flex;
      align-items: center;
    }

    .zone-label{
      flex-grow: 1;
      padding-top: .25em;
      font-size: 0.875rem;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--ion-color-inria-blue);
    }

    .zone-count{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: .25em;
      height: 2rem;
      width:2rem;
      margin: 0 .5rem;
      color: var(--ion-color-inria-lightgrey-shade);
      background: var(--ion-color-inria-light);
      border-radius: 2rem;

      &.active{
        background: var(--ion-color-inria-spe);
        color:white;
      }
    }

    .zone{
      max-height: 0;
      overflow: hidden;
    }

    &.open {
      .zone{
        max-height: none;
      }
      .zone-header ion-icon {
        transform: rotate(90deg);
      }
    }
  }
}

