@import "~src/_colors";

.video-card{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 1;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;

  & > h4 {
    margin-top: 0;
    padding: 0 16px;
  }
}

.video-player{
  video{
    display:block;
    width:100%;
    height:auto;
    margin:0;
    background:none;
    overflow: hidden;

    &:not(:fullscreen)::-webkit-media-controls-overlay-play-button,
    &::-webkit-media-controls-play-button,
    &::-webkit-media-controls-toggle-closed-captions-button,
    &::-webkit-media-controls-volume-slider,
    &::-webkit-media-controls-mute-button,
    &:not(:fullscreen)::-webkit-media-controls-fullscreen-button{
      display: none!important;
    }
  }

  .hidden-select{
    display: none;
  }

  .video-actions{
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    padding: 10px 16px;
    &-left{
      width: 30%;
      text-align: left;

      ion-icon{
        margin-right: 5px;
      }
    }
    &-center{
      width: 40%;
      text-align: center;

      ion-icon{
        margin: 0 5px;
      }
    }
    &-right{
      width: 30%;
      text-align: right;

      ion-icon{
        margin-left: 5px;
      }
    }

    ion-icon{
      display: inline-block;
      padding: 2px 5px;
      border-radius: 5px;
      background: $inria-bg;

      &:active, &:focus{
        color:white;
        background: $inria-blue;
      }
    }
  }
}

.video-summary{
  overflow: auto;
  flex-grow:1;
  padding: 0 16px;

  p{
    margin-top: 0;
  }
}
