<div class="video-card">
  <div class="video-player">
      <div class="video-container" [ngClass]="{'playing':playing}" (click)="play()">
        <video #video controls controlslist="nodownload" disablePictureInPicture playsinline preload="metadata"
               [src]="(libraryService.rootFolder + content.source) | safe: 'url'"
               [poster]="(content.poster ? libraryService.rootFolder +  content.poster : '') | safe: 'url'">
          <ng-container *ngFor="let sub of content.subtitles">
            <track kind="subtitles" [label]="sub.label" [srclang]="sub.lang"
                   [src]="(libraryService.rootFolder +  sub.src) | safe: 'url'">
          </ng-container>
        </video>
      </div>

    <ion-item class="hidden-select" *ngIf="content.subtitles && content.subtitles.length >0">
      <ion-label>Sous-titres</ion-label>
      <ion-select #tracks [value]="trackSelected" (ionChange)='changeSubtitles($event)'>
        <ion-select-option value="none">Aucun</ion-select-option>
        <ion-select-option [value]="sub.lang" *ngFor="let sub of content.subtitles">{{sub.label}}</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="video-actions">
      <div class="video-actions-left">
        <ion-icon name="logo-closed-captioning" (click)="captions()" *ngIf="content.subtitles && content.subtitles.length >0"></ion-icon>
      </div>
      <div class="video-actions-center">
        <ion-icon [name]="playing ? 'pause':'play'" (click)="play()"></ion-icon>
      </div>
      <div class="video-actions-right">
        <ion-icon name="expand" (click)="fullscreen()"></ion-icon>
      </div>
    </div>
  </div>

  <h4>Résumé</h4>

  <div class="video-summary">
    <p *ngIf="content.summary && content.summary.length > 0" [innerHTML]="content.summary"></p>
    <p *ngIf="!content.summary || content.summary.length <= 0">No summary.</p>
  </div>
</div>
